<div class="project big-project">

  {{ comp.swatches({ colors: colors, classes: "vertical position-absolute" }) | safe }}

  <div class="project__info">
    <div class="project__info--row" data-animate="from-bottom">
      <div class="label">Completed in {{ year }}</div><div class="title splitting">{{ title | splitting | safe }}</div>
    </div>
    <div class="project__info--row" data-animate="from-bottom">
      <div class="label">{{ tags | join(", ") }}</div><div>{{ description }}</div>
    </div>
    <div class="project__info--row" data-animate="from-bottom">
      <a href="{{ url }}">Read the case study</a><hr>
    </div>
  </div>

  <a href="{{ url }}" class="project__images">
    <div class="project__images--container" data-animate="clip-right from-front">
      <img src="{{ images[0] }}" />
      <img src="{{ images[1] }}" />
    </div>
  </a>

</div>