<div class="project big-project">

  <div class="project__info">
    <div class="project__info--row" data-animate="from-bottom">
      <div class="label">Completed for:</div><div class="title">{{ title }}</div>
    </div>
    <div class="project__info--row" data-animate="from-bottom">
      <div class="label">About the project:</div><div>{{ description }}</div>
    </div>
    <div class="project__info--row" data-animate="from-bottom">
      <a href="{{ url }}">Read the case study</a><hr>
    </div>
  </div>

  <div class="project__image">
    <img src="{{ images[0] }}" />
    <img src="{{ images[1] }}" />
  </div>

  {{ comp.swatches({ colors: colors, classes: "vertical position-absolute" }) | safe }}

</div>