<form netlify data-netlify="true" name="contact" method="POST" action="/success/" class="flex" data-animate="from-bottom">

  <label class="half">
    Your Name *
    <input required type="text" name="name" />
  </label>

  <label>
    What can I help you with?
    <textarea name="message"></textarea>
  </label>

  <div class="full">
    <p>How can I get ahold of you? *</p>
    <label class="mark_input">
      <input data-has-conditional type="radio" name="method" id="use_phone">
      Phone
    </label>
    <label class="mark_input">
      <input data-has-conditional type="radio" name="method" id="use_email">
      Email
    </label>
  </div>

  <label class="hidden" data-condition="use_email">
    Email *
    <input type="email" inputmode="email" name="email" />
  </label>

  <label class="hidden" data-condition="use_phone">
    Phone *
    <input type="tel" inputmode="tel" name="phone" />
  </label>

  <button type="submit">Submit</button>

</form>