<nav role="navigation" class="flex ai-center">
  <a id="logo" href="/" title="Go to homepage">
    <picture>
      <source srcset="/img/logos/logo_dark_cropped.png" media="(prefers-color-scheme: dark)">
      <img src="/img/logos/logo_light_cropped.png" alt="">
    </picture>
  </a>
  <input type="checkbox" id="menu-toggle" />
  <label for="menu-toggle"></label>
  <div class="subtext" role="menu">
  {%- for entry in search.pages("menu.visible=true", "menu.order") %}
    <a class="subtext" role="menuitem" href="{{ entry.data.url | url }}" {% if entry.data.url==url %} aria-current="page" {% endif %}>
      {{ entry.data.menu.title or entry.data.title }}
    </a>
  {%- endfor %}
  </div>
</nav>