<!DOCTYPE html>
<html lang="en" data-schwifty="out">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{ title }}</title>
	<meta name="description" content="{{ description | truncate(50) }}" />

	<meta property="og:title" content="{{ title }}" />
	<meta property="og:description" content="{{ description | truncate(50) }}" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:url" content="{{ site.root }}{{ url }}" />
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="{{ site.title }}" />
	<meta property="og:image" content="{{ site.root }}{{ image }}" />
	<meta property="og:image:width" content="1620" />
	<meta property="og:image:height" content="1080" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@{{ site.twitter }}" />
	<meta name="twitter:creator" content="@{{ site.twitter }}" />

	<base href="/" />
	<link rel="canonical" href="{{ site.root }}{{ url }}">

  {# Preconnect to Netlify CDN #}
	<link rel="preconnect" href="//d33wubrfki0l68.cloudfront.net" />
	<link rel="dns-prefetch" href="//d33wubrfki0l68.cloudfront.net" />

  {# Preload assets #}
	<link rel="preload" href="/styles.css" as="style" />
	<link rel="preload" href="/main.js" as="script" />
	<link rel="preload" href="//polyfill.io/v3/polyfill.min.js?features=default" as="script">

  {# Load assets #}
	<link rel="stylesheet" href="/styles.css">
	<script defer src="//polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script src="/main.js" defer></script>
</head>

<body>

	<nav>
		<a id="logo" href="/">{% include "logo.njk" %}</a>
	</nav>

	{{ content | safe }}

	<section>
		<div class="center" data-animate="from-front">
			<a href="mailto:{{ site.email }}">
				<h1>{{ site.email }}</h1>
			</a>
		</div>
	</section>

  <footer class="label">
		<div>&copy; {{ site.year }} {{ site.name }}</div>
		<a class="right" href="https://twitter.com/@{{ site.twitter }}">We're on Twitter</a>
	</footer>
</body>

</html>