---
layout: base.layout.njk
---

<style>
body {
  --accent1: #{{ colors[0] }};
  --accent2: #{{ colors[1] }};
  --contrastingColor: #{{ colors[0] | bestContrast(colors[0]) }};
}

body {
  background: var(--accent1);
  color: var(--contrastingColor);
}

h2 {
  opacity: 1;
  color: var(--accent2);
}
</style>

<section class={{ heroClass }}>
  <div class="center" data-animate="from-front">
    <div class="rellax">
      <h1 class="splitting">{{ title | splitting | safe }}</h1>
      <p class="script-font" data-animate="from-bottom">{{ tags | join(", ") }}</p>
    </div>
  </div>
</section>

<div class="post__image">
  <img src="{{ images[0] }}" width="1620" height="1920" data-animate="from-front">
</div>

<div class="post__main">

  <div class="post__main--content">
    <div class="post__body">
    {{ content | safe }}
    </div>
    <img src="{{ images[1] }}" width="1280" height="1280" data-animate="from-bottom">
  </div>

  <div class="post__main--images">
    {% for image in images %}
      {% if loop.index > 2 %}
      <img src="{{ image }}" width="1280" height="1280">
      {% endif %}
    {% endfor %}
  </div>

</div>

<div class="post__nav">
  {%- set previousItem = search.previousPage(url, "type=" + type, sortBy) %}
  {%- if previousItem -%}
  <a href="{{ previousItem.data.url | url }}" data-animate="from-left">
    <div class="label">Previous</div>
    <div class="title">{{ previousItem.data.title }}</div>
    <img src="{{ previousItem.data.images[0] }}">
  </a>
  {% else %}
  <br>
  {% endif %}

  {%- set nextItem = search.nextPage(url, "type=" + type, sortBy) %}
  {%- if nextItem -%}
  <a href="{{ nextItem.data.url | url }}" data-animate="from-right">
    <div class="label">Next</div>
    <div class="title">{{ nextItem.data.title }}</div>
    <img src="{{ nextItem.data.images[0] }}">
  </a>
  {% else %}
  <br>
  {% endif %}
</div>