---
layout: base.layout.njk
---

<section class="home-hero">
  <div data-animate="from-front">
    <div class="rellax center">
      <h1 class="splitting home-hero__headline">growing <u>perennial</u> brands</h1>
      <div class="title script-font" style="font-size: 2em">Since 2017</div>
      <p class="home-hero__about" data-animate="from-bottom">
      We partner with family-minded businesses to create long-lasting brands. Learn more <a href="/about">about us</a> or check out <a href="#start">our work</a>.
      </p>
    </div>
  </div>
  <div class="home-hero__meta">
    <p class="home-hero__meta--definition" data-animate="from-bottom">
      <strong>perennial</strong> [ p<em>uh</em>-<strong>ren</strong>-ee-<em>uh</em>l ]<br>
      <em>adjective</em>
      <br>
      lasting for an indefinitely long time; enduring
    </p>
  </div>
</section>

<div id="start"></div>

{{ content | safe }}