---
layout: base.layout.njk
---

<section>
  <div class="post__main">
    <div class="post__main--content">
      <div class="post__body">
      {{ content | safe }}
      </div>
    </div>
  </div>
</section>