{################}
{#### BLURBS ####}
{################}

{# Blurb Base #}
{% macro blurb(image, text, background) %}
<div class="blurb">
  {{ background | safe }}
  <div class="blurb__image" aria-hidden="true">
    {{- image | safe -}}
  </div>
  <div class="blurb__text">
    {{- text | md | safe -}}
  </div>
</div>
{% endmacro %}

{# Review Blurb #}
{% macro review(review, clientName, clientCompany, bg) %}
<div class="review">
  <img src="{{ bg | url }}" alt="" class="review__background">
  {% set text -%}
  <h4 class="review__text" data-animate="clip-top">{{ review }}</h4>
  <div class="review__client squeeze">
    <h5 class="color-primary" data-animate="from-bottom">{{ clientName }}</h5>
    <div class="subtext" data-animate="from-bottom">{{ clientCompany }}</div>
  </div>
  {% endset %}
  {{- blurb(image, text) -}}
</div>
{% endmacro %}

{# Customer Profile #}
{% macro profile(photo, name, description) %}
{% set image %}
<img class="circle" src="/img/{{ photo }}" alt="{{ name }}">
{% endset %}
{% set text -%}
#### {{ name }}
{{ description }}
{% endset %}
{{- blurb(image, text) -}}
{% endmacro %}


{#####################}
{#### INTERACTIVE ####}
{#####################}

{# Before/After Slider #}
{% macro before_after(before, after, text, height) %}
<div>
  <div class="beforeafter" style="height:{{ height }}">
    <div class="beforeafter__before">
      <img src="/img/{{ before }}" alt="">
    </div>
    <div class="beforeafter__after">
      <img src="/img/{{ after }}" alt="">
    </div>
    <div class="beforeafter__slider"></div>
  </div>
  <div class="subtext left">
    {{- text | md | safe -}}
  </div>
</div>
{% endmacro %}

{# Carousel #}
{% macro carousel(images) %}
<div class="carousel">
  {%- for image in images -%}
    <img class="carousel__item {{- 'selected' if loop.index == 1 -}}" src="/img/{{- image -}}" alt="">
  {%- endfor -%}
</div>
{% endmacro %}

{% macro spinner(text) %}
<div class="subtext bleed">
  <svg style="--char-count:{{ text | length }}" aria-hidden="true" class="spinner" viewBox="0 0 100 100">
    <circle id="circle" r="31" cx="50" cy="50" />
    <text>
      <textPath alignment-baseline="top" xlink:href="#circle">{{ text }}</textPath>
    </text>
  </svg>
</div>
{% endmacro %}


{#################}
{#### LAYOUTS ####}
{#################}

{# 2 Column Image Grid #}
{% macro image_2_column(left, right, classes) %}
<section class="has-media {{ classes }} grid squeeze col-3 gap-1">
  <img alt="" src="/img/{{ left }}">
  <img alt="" src="/img/{{ right }}">
</section>
{% endmacro %}


{#######################}
{#### MISCELLANEOUS ####}
{#######################}

{# Person #}
{% macro person(photo, name, title, bio) %}
<div class="person flex">
  <div data-animate="from-left" class="person__headshot">
    <img src="/img/{{ photo }}" alt="{{ name }}, {{ title }}">
  </div>
  <div data-animate="from-right" class="person__info squeeze">
    <h3 class="person__info--name">{{ name }}</h3>
    <div class="subtext person__info--position"><em>{{ title }}</em></div>
    <div class="person__info--bio">{{ bio | md | safe }}</div>
  </div>
</div>
{% endmacro %}

{# Swatch #}
{% macro swatch(name, hex, pantone) %}
<div class="soft-grid">
  <div class="soft-grid__image" style="background-color: {{ hex }}; opacity: 1"></div>
  <div class="soft-grid__title">{{ name }}</div>
  <div class="subtext">
    <div>Pantone {{ pantone }}</div>
    {{ hex }}
  </div>
</div>
{% endmacro %}