html {
  main {
    transition: opacity $smoothTransition;
  }

  .project__header,
  .hero__feature {
    transition: $motionTransition, transform $smoothTransition;
  }

  .project__header,
  .hero__feature {
    clip-path: $clipSquare;
  }

  &[data-schwifty] {
    transition-duration: 0.4s;

    main {
      opacity: 0;
    }

    .project__header {
      transform: translate3d(0, -3rem, 0) scale(1.1);
      clip-path: $clipOffsetTop;
    }

    .hero__feature {
      transform: translate3d(3rem, 0, 0) scale(1.1);
      clip-path: $clipOffsetRight;
    }
  }

  &[data-schwifty="out"] {
    .hero__feature {
      transform: translate3d(0, -3rem, 0);
      clip-path: $clipOffsetTop;
    }
  }
}

@media screen and (max-width: $mobile) {
  html[data-schwifty] nav [role="menu"] a {
    clip-path: $clipOffsetLeft;
  }
}

@keyframes slide-in {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transform: translateY(1.2em) rotate(0.01turn);
  }
}

[data-animate] {
  & + [data-animate] {
    transition-delay: 0.1s;

    & + [data-animate] {
      transition-delay: 0.2s;

      & + [data-animate] {
        transition-delay: 0.3s;
      }
    }
  }
}

[data-offscreen] {
  opacity: 0;

  &[data-animate="clip-left"] {
    clip-path: $clipOffsetLeft;
  }
  &[data-animate="clip-right"] {
    clip-path: $clipOffsetRight;
  }
  &[data-animate="clip-top"] {
    clip-path: $clipOffsetTop;
  }
  &[data-animate="clip-bottom"] {
    clip-path: $clipOffsetBottom;
  }

  &.splitting .char {
    animation-play-state: paused;
  }

  &[data-animate*="-right"] {
    transform: translate3d(1em, 0, 0);
  }
  &[data-animate*="-left"] {
    transform: translate3d(-1em, 0, 0);
  }
  &[data-animate*="-top"] {
    transform: translate3d(0, -1em, 0);
  }
  &[data-animate*="-bottom"] {
    transform: translate3d(0, 1em, 0);
  }
}

[data-animate*="clip-"] {
  clip-path: $clipSquare;
  transform: translate3d(0, 0, 0);
  transition: transform $motionTransition, clip-path $motionTransition 0.2s;
}

[data-animate*="from-"] {
  transform: translate3d(0, 0, 0);
  transition: transform $smoothTransition, opacity $smoothTransition;
}

.splitting {
  --char-delay: 0s;

  .word {
    display: inline-flex;
  }

  &.lines .word {
    animation: slide-in $smoothTransition both;
    animation-delay: calc(var(--char-delay) + var(--line-index) * 50ms);
  }

  .char {
    display: inline-block;
    clip-path: polygon(-40% -15%, 140% -15%, 140% 120%, -40% 120%);
    animation: slide-in $smoothTransition both;
    animation-delay: calc(var(--char-delay) + var(--char-index) * 20ms);
  }

  &.lines > * {
    animation: slide-in $smoothTransition both;
    animation-delay: calc(0.5s + var(--line-index) * 30ms);
  }
}

h1.splitting .char {
  animation: slide-in $motionTransition both;
  animation-delay: calc(0.5s + var(--char-index) * 50ms);
}
