.blurb {
  --image-size: 7rem;
  display: inline-block;
  text-align: center;
  padding: $flow2;
  max-width: 32rem;
  margin: 0 auto;
  margin-top: calc(var(--image-size) / 3);
  border: $borderWidth $borderStyle var(--g6);
  border-radius: $borderRadius;

  & > * {
    margin: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__image {
    margin: calc(var(--image-size) * -0.5 - #{$flow2}) auto $flow2 auto;
    height: var(--image-size);
    width: var(--image-size);

    &::before {
      content: "";
      position: absolute;
      border-radius: inherit;
      background-color: var(--g8);
      width: calc(100% + #{$borderWidth * 8});
      height: $borderWidth;
      top: calc(50% - #{$borderWidth});
      left: $borderWidth * -4;
    }

    svg path {
      fill: var(--g0);
    }
  }
}

.person {
  margin: 0 auto;
  padding: 0 $flow4;
  max-width: $mobile;

  &__headshot {
    flex-shrink: 0;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    overflow: hidden;
  }

  &__info {
    padding: $flow2;
  }
}

.review {
  color: var(--g0);

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &::before {
      --r: -112deg;
      position: absolute;
      pointer-events: none;
      content: "";
      width: 100%;
      padding-bottom: 100%;
      top: 50%;
      left: 50%;
      background: var(--primary);
      opacity: 0.37;
      border-radius: $borderRadius;
      transform: translate(-50%, -50%) scale(0.65) rotate(var(--r));
    }
  }

  &:nth-child(2n) .review__background::before {
    --r: -67deg;
  }

  &:nth-child(3n) .review__background::before {
    --r: 37deg;
  }

  .blurb {
    border: none;
    margin-top: 0;
    padding: 0;
    width: 100%;

    &__image {
      margin-bottom: 0;

      &::before {
        display: none;
      }
    }
  }

  .quote {
    opacity: 0.37;
    font-size: var(--image-size);
    margin: 0;
    line-height: 0;
    transform: translateY(0.7em);
  }
}

.soft-grid {
  display: flex;
  flex-flow: column;
  border-radius: $borderRadius + $flow1 / 2;
  border: $borderWidth $borderStyle var(--g7);
  padding: $flow1;
  background: var(--g7);
  text-decoration: none;
  transition: $smoothTransition, border $colorTransition;

  &:hover,
  &:focus,
  &:focus-within {
    background: var(--g8);
    border-color: var(--g5);

    .soft-grid__image {
      opacity: 0.37;
    }
  }

  &__image {
    align-self: start;
    padding-bottom: 100%;
    height: 100%;
    width: 100%;
    border-radius: $borderRadius;
    overflow: hidden;
    margin-bottom: $flow1;
    transition: $smoothTransition;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
  }

  * {
    text-decoration: inherit;
  }
}

@media screen and (max-width: $mobile) {
  .person {
    padding: 0 $flow1;

    &__info {
      padding: 0;
      padding-top: $flow2;
    }
  }

  .review:not(:last-child) {
    margin-bottom: $flow3;
  }
}
