.blurb,
.review__background,
.soft-grid {
  border-radius: $borderRadius + $flow1 / 2;
}

.blurb {
  --image-size: 7rem;
  display: inline-block;
  text-align: center;
  padding: $flow2;
  max-width: 32rem;
  margin: 0 auto;
  margin-top: calc(var(--image-size) / 3);
  border: $borderWidth $borderStyle var(--g6);

  & > * {
    margin: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text > * + * {
    margin: 0;
    margin-top: $flow1;
  }

  &__image {
    margin: calc(var(--image-size) * -0.5 - #{$flow2}) auto $flow1 auto;
    height: var(--image-size);
    width: var(--image-size);

    &::before {
      content: "";
      position: absolute;
      border-radius: inherit;
      background-color: var(--g8);
      width: calc(100% + #{$borderWidth * 8});
      height: $borderWidth;
      top: calc(50% - #{$borderWidth});
      left: $borderWidth * -4;
    }

    svg path {
      fill: var(--g0);
    }
  }
}

.person {
  margin: 0 auto;
  padding: 0 $flow2;
  max-width: $mobile;

  &__headshot {
    flex-shrink: 0;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    overflow: hidden;
  }

  &__info {
    padding: $flow2;
  }
}

.review {
  --stroke-color: var(--g7);
  overflow: hidden;
  padding: 0 !important;

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0;
  }

  &__client {
    margin-top: $flow1;
  }

  .blurb {
    color: $g8;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: none;
    display: grid;

    * {
      color: inherit;
    }

    &__text {
      padding: $flow2;
      padding-top: 37vmin;
      margin: 0;
      display: grid;
      align-content: end;
      align-items: end;
      background: linear-gradient(transparent, $g0);
    }

    &__image {
      display: none;
    }
  }
}

.soft-grid {
  display: flex;
  flex-flow: column;
  border: $borderWidth $borderStyle var(--g7);
  padding: $flow1;
  background: var(--g7);
  text-decoration: none;
  transition: $smoothTransition, border $colorTransition;

  &:hover,
  &:focus,
  &:focus-within {
    background: var(--g8);
    border-color: var(--g5);

    .soft-grid__image {
      opacity: 0.37;
    }
  }

  &__image {
    align-self: start;
    padding-bottom: 100%;
    height: 100%;
    width: 100%;
    border-radius: $borderRadius;
    overflow: hidden;
    margin-bottom: $flow1;
    transition: $smoothTransition;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0.2em;
    line-height: 1.3;
  }

  * {
    text-decoration: inherit;
  }
}

@media screen and (max-width: $mobile) {
  .person {
    padding: 0 $flow1;

    &__info {
      padding: 0;
      padding-top: $flow2;
    }
  }
}
