button,
.button,
input[type="submit"] {
  --initial-bg: var(--g0);
  --hover-bg: var(--g7);
  --initial-color: var(--g8);
  --hover-color: var(--g0);
  font-size: 1.1rem;
  color: var(--initial-color);
  display: inline-block;
  align-self: start;
  justify-self: start;
  cursor: pointer;
  font-weight: $fontWeightHeavy;
  font-style: normal;
  padding: 0.8em 1em;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: $borderRadius;
  transition: $smoothTransition;
  box-shadow: none;
  background-image: linear-gradient(#{$angle}, var(--initial-bg) 50%, var(--hover-bg) 0);
  background-size: 250%;
  background-position-x: left;
  background-repeat: no-repeat;

  &.center {
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  &.primary {
    --hover-bg: var(--primary) 50%, var(--secondary);
  }

  &:hover,
  &:focus {
    color: var(--hover-color);
    background-position-x: 99%;
    border-color: var(--hover-bg);
  }
}

@media screen and (max-width: $mobile) {
  button,
  a.button,
  input[type="submit"] {
    &.center {
      width: 100%;
    }
  }
}
