button,
.button,
input[type="submit"] {
  font-size: 1.1rem;
  color: var(--g0);
  display: inline-block;
  align-self: start;
  justify-self: start;
  cursor: pointer;
  font-weight: $fontWeightHeavy;
  font-style: normal;
  padding: 0.8em 1em;
  text-decoration: none;
  text-transform: uppercase;
  border: $borderWidth $borderStyle var(--g7);
  border-radius: $borderRadius;
  transition: $smoothTransition;
  box-shadow: none;

  * {
    z-index: 1;
  }

  svg {
    $dash: 2800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, -1px);
    width: 100%;
    stroke: var(--g7);
    stroke-width: 3;
    stroke-dasharray: $dash $dash;
    stroke-dashoffset: $dash;
    transition: $motionTransition;
    z-index: 0;
    pointer-events: none;
  }

  &.center {
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  &.primary {
    border-color: var(--primary);

    &:hover,
    &:focus {
      border-color: var(--g7);
    }
  }

  &:hover,
  &:focus {
    svg {
      stroke-dashoffset: 0;
    }
  }
}

@media screen and (max-width: $mobile) {
  button,
  a.button,
  input[type="submit"] {
    &.center {
      width: 100%;
    }
  }
}
