.hero {
  min-height: 100vh;

  &__heading,
  &__subheading {
    z-index: 3;
    width: 100%;
    max-width: 80vmin;
    padding: $flow2 0 $flow4 10vmin;
    margin-bottom: 0;
  }

  &__heading {
    padding-top: $flow6;
    padding-bottom: 0;
  }

  &__feature {
    overflow: hidden;
    height: 100vh;

    &--image {
      height: 100%;
      border-radius: 0 0 0 $borderRadius;
    }
  }
}

@media screen and (max-width: $mobile) {
  .hero {
    height: auto;
    padding-top: $flow6;
    margin-bottom: $flow3;
    gap: $flow1;
    grid-gap: $flow1;

    &__feature {
      height: 28rem;

      &--image {
        border-radius: 0;
      }
    }

    &__heading,
    &__subheading {
      max-width: none;
      padding: 0 $flow2;
    }
  }
}
