.hero {
  min-height: 100vh;

  &__heading,
  &__subheading {
    z-index: 3;
    margin-bottom: 0;
  }

  &__heading {
    padding-top: 15vmin;
    padding-bottom: 0;
  }

  &__feature {
    overflow: hidden;
    height: 100vh;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(circle at 10% 90%, transparent, var(--g8));
      opacity: 0.37;
    }

    &--image {
      height: 100%;
      border-radius: 0 0 0 $borderRadius;
    }
  }
}

@media screen and (max-width: $mobile) {
  .hero {
    height: auto;
    padding-top: $flow6;
    margin-bottom: $flow3;
    gap: $flow1;
    grid-gap: $flow1;

    &__feature {
      height: 28rem;

      &::after {
        display: none;
      }

      &--image {
        border-radius: 0;
      }
    }
  }
}
