.hero {
  min-height: 100vh;

  &__heading,
  &__subheading {
    z-index: 3;
  }

  &__heading {
    padding-top: 15vmin;
    padding-bottom: 0;
  }

  &__subheading {
    padding-top: 0;
    margin-bottom: 0;
    max-width: 36rem;
  }

  &__feature {
    overflow: hidden;
    border-radius: 0 0 0 $borderRadius * 2;
    height: 100vh;

    &--image {
      height: 100%;
    }
  }
}

.la-wrapper {
  height: 100vh;
  display: grid;
  align-items: center;
}

.la-bg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  transform: rotate(90deg);
  overflow: hidden;

  .carousel__item {
    transform: rotate(-90deg);
  }
}

@media screen and (max-width: $mobile) {
  .hero {
    height: auto;
    padding-top: $flow6;
    margin-bottom: $flow3;
    gap: $flow1;
    grid-gap: $flow1;

    &__feature {
      height: 28rem;
      border-radius: 0;

      &::after {
        display: none;
      }
    }
  }
}
