body {
  background: var(--g8);
}

header {
  z-index: 2;
  margin-bottom: $flow6;
}

main {
  scroll-padding-top: $flow4;
  grid-column-end: -1;
  padding: 0 0 $flow2 0;

  & > :first-child:not(header) {
    margin-top: $flow6 * 2;
  }

  p > img,
  p > video {
    margin: $flow4 0;
  }
}

article {
  padding-top: $flow4;
}

.top-text {
  width: 100%;
  max-width: 90vmin;
  padding: $flow2 0 $flow4 10vmin;
}

main,
article {
  & > *:not(.bleed) {
    max-width: $mobile;
    margin-left: auto;
    margin-right: auto;
  }
}

section {
  margin: 0;
  padding: $flow6 0;

  &.bleed {
    padding-left: $flow2;
    padding-right: $flow2;
  }

  &.soft {
    background-color: var(--g7);
    margin-top: $flow6;

    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
      margin-top: $flow6;
    }
  }

  & + .primary,
  & + .soft,
  & + h2,
  & + h3,
  & + h4,
  & + h5,
  & + h6 {
    margin-top: $flow2;
  }
}

.fake-footer,
footer {
  z-index: 11;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: $flow2;
  padding-top: 0;
}

footer {
  z-index: 10;
  display: flex;
  pointer-events: none;
  right: 0;
}

@media screen and (max-width: $mobile) {
  body {
    font-size: 14px;
    grid-template-columns: 1fr;
    place-items: start;
    place-content: start;
  }

  nav,
  .fake-footer,
  footer {
    padding: $flow1;
  }

  header {
    margin: 0;
  }

  footer {
    position: relative;
  }

  main {
    padding: 0 0 $flow6 0;

    &:first-child {
      margin-top: 0;
    }
  }

  .top-text {
    max-width: none;
    padding: 0 $flow2;
  }

  main,
  article {
    & > *:not(.bleed) {
      max-width: $mobile;
      margin-left: $flow1;
      margin-right: $flow1;
    }
  }

  section {
    padding: $flow4 0;

    &.bleed {
      padding-left: $flow1;
      padding-right: $flow1;
    }
  }
}
