header {
  z-index: 2;
  margin-bottom: $flow6;
}

main {
  scroll-padding-top: $flow4;
  grid-column-end: -1;
  padding: 0 0 $flow2 0;

  & > :first-child:not(header) {
    margin-top: $flow6 * 2;
  }

  & > :not(.bleed) {
    padding-left: $flow1;
    padding-right: $flow1;
  }

  p > img,
  p > video {
    margin: $flow4 0;
  }
}

.top-text {
  width: 100%;
  max-width: 60rem;
  padding: $flow3 10vmin;
}

article {
  padding-top: $flow4;
}

main,
article {
  & > * {
    max-width: $mobile;
    margin-left: auto;
    margin-right: auto;

    &.has-media {
      max-width: $mobile + 12;
    }

    &.bleed {
      max-width: none;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

section {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: $flow6;
  padding-bottom: $flow6;

  &.soft {
    margin-top: $flow6;

    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
      margin-top: $flow6;
    }
  }

  & + .primary,
  & + .soft,
  & + h2,
  & + h3,
  & + h4,
  & + h5,
  & + h6 {
    margin-top: $flow2;
  }
}

.contact-info a {
  color: var(--g3);
  text-decoration-color: currentColor;
}

.fake-footer,
footer {
  z-index: 11;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: $flow2;
  padding-top: 0;
}

footer {
  z-index: 10;
  display: flex;
  pointer-events: none;
  right: 0;
}

@media screen and (min-width: $mobile) {
  section.bleed > :not(img) {
    padding-left: $flow1;
    padding-right: $flow1;
  }
}

@media screen and (max-width: $mobile) {
  body {
    font-size: 14px;
    grid-template-columns: 1fr;
    place-items: start;
    place-content: start;
  }

  nav,
  .fake-footer,
  footer {
    padding: $flow1;
  }

  header {
    margin: 0;
  }

  footer {
    position: relative;
  }

  main {
    padding: 0 0 $flow6 0;

    &:first-child {
      margin-top: 0;
    }

    & > :first-child:not(header) {
      margin-top: $flow6;
    }
  }

  .top-text {
    max-width: none;
    padding: 0 $flow1;
  }

  article > * {
    max-width: $mobile;
    margin-left: $flow1;
    margin-right: $flow1;

    &.bleed,
    &.has-media {
      margin-left: 0;
      margin-right: 0;
    }
  }

  section {
    padding: $flow4 $flow1;
  }
}
