nav {
  position: fixed;
  top: 0;
  height: 4rem;
  width: 100%;
  padding: $flow1 $flow2 0 $flow2;
  z-index: 99;
  background-size: 100% 12em;
  background-position: bottom;

  #logo {
    height: 100%;
    width: auto;
    z-index: 9;

    svg {
      height: 100%;
      width: auto;
    }
  }

  #menu-toggle {
    position: absolute;
    top: -99vw;
    left: -99vw;
    opacity: 0.001;
  }

  label[for="menu-toggle"] {
    display: none;
  }

  [role="menu"] {
    display: flex;
    margin-left: auto;

    a {
      margin-left: $flow1;
      display: inline-block;
      padding-left: 0.15em;
      transform: translateX(-0.15em);
      text-decoration: none;
      color: var(--g0);

      &:hover,
      &:focus {
        box-shadow: inset 0 #{-$borderWidth} 0 0 var(--primary);
      }

      &[aria-current] {
        font-weight: $fontWeightHeavy;
        box-shadow: inset 0 #{-$borderWidth} 0 0 var(--primary);
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  nav {
    padding: $flow1;
    padding-bottom: 0;
    background: none;

    #logo {
      width: 4em;
    }

    label[for="menu-toggle"] {
      display: block;
      z-index: 9;
      margin-left: auto;
      width: 1.8rem;
      height: 1.8rem;

      &::before,
      &::after {
        --r: 65deg;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: $borderWidth;
        background: var(--g0);
        transform: translate(-50%, -50%) rotate(var(--r));
        transition: transform $smoothTransition;
      }

      &::before {
        left: calc(50% + 0.3rem);
      }

      &::after {
        left: calc(50% - 0.3rem);
      }
    }

    #menu-toggle:checked {
      & ~ [role="menu"] {
        opacity: 1;
        pointer-events: all;
        transition: opacity $smoothTransition;
      }

      & ~ label[for="menu-toggle"] {
        &::before {
          --r: 225deg;
          left: 50%;
        }

        &::after {
          --r: 135deg;
          left: 50%;
        }
      }
    }

    [role="menu"] {
      font-weight: $fontWeightHeavy;
      font-size: 2em;
      place-content: center;
      place-items: center;
      position: fixed;
      flex-flow: column;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      background: var(--g8);
      opacity: 0;
      pointer-events: none;

      a {
        font-size: $fontSizeLarge;
        margin: 0;
        margin-bottom: $flow1;
      }
    }
  }
}
