.posts-list {
  .post {
    border: $borderWidth $borderStyle transparent;
    transition: $smoothTransition;

    &__tags {
      background: var(--g7);
      padding: 0.37em 0.63em;
      position: absolute;
      bottom: 100%;
      left: 0;
      border-radius: 0 $borderRadius 0 0;
    }

    .soft,
    &__tags {
      transition: background $smoothTransition;
    }

    &:hover,
    &:focus-within {
      border-color: var(--primary);

      .soft,
      .post__tags {
        background: var(--primary);
      }

      .post__tags {
        color: var(--g8);
      }
    }

    a:hover,
    a:focus {
      img {
        height: 100%;
        transition: $smoothTransition;
        transform: scale(1.04);
      }
    }
  }
}

.post__header {
  max-height: 63vmin;
  height: 63vh;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(circle at 50% 50%, transparent, var(--g8));
    opacity: 0.37;
  }

  &--image {
    height: auto;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    overflow: hidden;
    transform: translateY(-50%);
  }
}

.post__nav {
  .left,
  .right {
    & > * {
      transition: $smoothTransition;

      &:first-child {
        transition-delay: 0.03s;
      }
    }
  }
  .right {
    padding-left: $flow1;

    &:hover > *,
    &:focus > * {
      transform: translateX(#{-$flow1});
    }
  }

  .left {
    padding-right: $flow1;

    &:hover > *,
    &:focus > * {
      transform: translateX(#{$flow1});
    }
  }
}
