.post__header {
  max-height: 63vmin;
  height: 63vh;

  &--image {
    height: auto;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    overflow: hidden;
    transform: translateY(-50%);
    transition: opacity $smoothTransition;
  }
}

.post__nav {
  padding-left: $flow1;
  padding-right: $flow1;

  .left,
  .right {
    max-width: $mobile;

    & > * {
      transition: $smoothTransition;

      &:first-child {
        transition-delay: 0.03s;
      }
    }
  }
  .right {
    padding-left: $flow1;

    &:hover > *,
    &:focus > * {
      transform: translateX(#{-$flow1});
    }
  }

  .left {
    padding-right: $flow1;

    &:hover > *,
    &:focus > * {
      transform: translateX(#{$flow1});
    }
  }
}
