.hidden {
  display: none;
}

.large {
  font-size: $fontSizeLarge;
  letter-spacing: -0.02em;

  &.tag {
    line-height: 2;
    padding: 0.2em 0.4em 0.2em 0.5em;
    border: $borderWidth $borderStyle var(--g6);
    border-radius: $borderRadius;
    text-transform: uppercase;
    text-decoration: none;

    &:hover,
    &:focus {
      border-color: var(--primary);
    }
  }
}

.subtext,
.large.tag {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.subtext {
  font-size: $fontSizeSmall;
  color: var(--g3);
}

.pattern-bg {
  background-image: url("/img/pattern.svg");
  background-position: -5%;
  background-size: cover;
  background-repeat: no-repeat;
}

.alignment-optical {
  transform: translate(-0.05em, 0);
}

.special > :first-child {
  grid-column: span 2;
  grid-row: span 2;
}

.pos-abs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.squeeze > * {
  margin: 0;
}

[style*="background-image"] {
  background-position: center;
}

.round {
  border-radius: 50%;
}

.flow > * {
  margin-bottom: $flow1;
}

.left {
  margin-left: 0;
  margin-right: auto;
  text-align: left;
}

.right {
  margin-left: auto;
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.pad-0 {
  padding: 0;
}

.pad-1 {
  padding: $flow1;
}

.pad-2 {
  padding: $flow2;
}

.pad-3 {
  padding: $flow3;
}

.pad-4 {
  padding: $flow4;
}

.flex {
  display: flex;

  .half {
    flex: 1;
  }

  .full {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
  }
}

.grid {
  display: grid;
}

.span-all {
  grid-column: 1 / -1;
}

.col-2 {
  grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
}

.col-3 {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.col-4 {
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.gap-1 {
  gap: $flow1;
}

.gap-2 {
  gap: $flow2;
}

.gap-3 {
  gap: $flow3;
}

.gap-4 {
  gap: $flow4;
}

.ai-start {
  align-items: start;
}

.ai-center {
  align-items: center;
}

.ai-baseline {
  align-items: baseline;
}

.ai-end {
  align-items: end;
}

.ai-stretch {
  align-items: stretch;
}

.ai-space-around {
  align-items: space-around;
}

.ai-space-between {
  align-items: space-between;
}

.ac-start {
  align-content: start;
}

.ac-center {
  align-content: center;
}

.ac-end {
  align-content: end;
}

.jc-start {
  justify-content: start;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: end;
}

.ji-center {
  justify-items: center;
}

.ji-space-around {
  justify-items: space-around;
}

.ji-space-between {
  justify-items: space-between;
}

.ji-end {
  justify-items: end;
}

.ji-start {
  justify-items: start;
}

.as-start {
  align-self: start;
}

.as-end {
  align-self: end;
}

.as-center {
  align-self: center;
}

@media screen and (max-width: $mobile) {
  .col-2,
  .col-3 {
    grid-template-columns: 1fr;
  }

  .special > :first-child {
    grid-column: auto;
    grid-row: auto;
  }

  .flex {
    flex-flow: row wrap;
  }
}
