// Color
$g0: #000000;
$g1: #15161b;
$g2: #25252b;
$g3: #33343a;
$g4: #64686e;
$g5: #9e9794;
$g6: #ddd6d2;
$g7: #f0ecea;
$g8: #ffffff;
$translucent: rgba(0, 0, 0, 0.28);
$primary: #e4461e;
$secondary: #ff1925;

// Spacing
$flow1: 1rem;
$flow2: 1.63rem;
$flow3: 3rem;
$flow4: 5rem;
$flow6: 8rem;

// Fonts
$fontWeightRegular: 400;
$fontWeightHeavy: 700;
$fontSizeSmall: 0.8rem;
$fontSizeLarge: 1.63rem;
$fallbackFonts: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Nueue", "Roboto", sans-serif;
$textFont: "Space Grotesk", $fallbackFonts;
$altFont: "Merriweather", "Times", $fallbackFonts;

// Borders
$borderWidth: 2px;
$borderStyle: solid;
$borderRadius: 0.4rem;

// Clip Paths
$angle: 72deg;
$clipSquare: polygon(0 0, 100% 0, 100% 100%, 0 100%);
$clipOffsetTop: polygon(0 0, 100% 0, 100% 0, 0 -50%);
$clipOffsetRight: polygon(100% 0, 100% 0, 100% 100%, 150% 100%);
$clipOffsetBottom: polygon(0 100%, 100% 100%, 100% 150%, 0 100%);
$clipOffsetLeft: polygon(0 0, -50% 0, 0 100%, 0 100%);

// Transitions
$colorTransition: 0.3s cubic-bezier(0.3, 0.3, 0.1, 1);
$smoothTransition: 0.6s cubic-bezier(0.4, 0.3, 0.1, 1);
$motionTransition: 1.1s cubic-bezier(0.2, 0.8, 0.1, 1);

// Breakpoints
$mobile: 48rem;

// Functions
@function text-outline($color, $thickness: 1px) {
  @return $thickness $thickness $color, -$thickness -#{$thickness} $color, $thickness #{-$thickness} $color,
    -$thickness $thickness $color;
}

// Font Imports
@font-face {
  font-family: "Space Grotesk";
  src: url("/SpaceGrotesk.woff2") format("woff2-variations");
  font-feature-settings: "ss02" 1, "ss03" 1, "ss04" 1, "case" 1, "zero" 1;
  font-weight: 300 700;
  font-display: block;
}

@font-face {
  font-family: "Merriweather";
  src: url("/Merriweather.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "Merriweather";
  src: url("/MerriweatherItalic.woff2") format("woff2");
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "Merriweather";
  src: url("/Merriweather-Bold.woff2") format("woff2");
  font-weight: $fontWeightHeavy;
  font-display: block;
}

@font-face {
  font-family: "Merriweather";
  src: url("/Merriweather-BoldItalic.woff2") format("woff2");
  font-weight: $fontWeightHeavy;
  font-style: italic;
  font-display: block;
}
