@import "./vars";

:root {
  --g0: #{$g0};
  --g1: #{$g1};
  --g2: #{$g2};
  --g3: #{$g3};
  --g4: #{$g4};
  --g5: #{$g5};
  --g6: #{$g6};
  --g7: #{$g7};
  --g8: #{$g8};
  --dark: 0;
  --primary: #{$primary};
  --secondary: #{$secondary};
  --shadow-color: rgba(0, 0, 0, 0.2);
  --shadow: 0 0.6rem 1rem -0.4rem var(--shadow-color);
  --large-shadow: 0 0 1.8rem -0.6rem var(--shadow-color);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  position: relative;
  scrollbar-width: thin;
  scrollbar-width: none;
  scrollbar-color: var(--g6) transparent;
  scroll-padding-top: $flow4;
}

*:focus {
  outline: $borderWidth $borderStyle var(--g2);
  outline-offset: $borderWidth;
}

html,
body {
  overflow-x: hidden;
  background: var(--g8);
}

svg,
img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  display: none;
  background: transparent;

  &-thumb {
    background: var(--g6);
  }
}

@import "./animations/mod";
@import "./layout";
@import "./nav";
@import "./typography";
@import "./buttons";
@import "./hero";
// @import "./forms";
@import "./blurbs";
@import "./beforeafter";
@import "./coarse";
@import "./post";
@import "./util";

@media (prefers-color-scheme: dark) {
  :root {
    --g0: #{$g8};
    --g1: #{$g7};
    --g2: #{$g6};
    --g3: #{$g5};
    --g4: #{$g4};
    --g5: #{$g3};
    --g6: #{$g2};
    --g7: #{$g1};
    --g8: #{$g0};
    --dark: 1;
    --shadowColor: black;
  }

  html body {
    color: var(--g2);
  }

  .light {
    display: none;
  }

  .dark {
    display: block;
  }

  .gallery img {
    filter: invert(1);
  }
}
