<!doctype html>
<html lang="en">

  {% include "head.njk" %}

  <body class={{ bodyClass }}>
  
    {% include "nav.njk" %}

    <main id="main">

      {{ content | safe }}

      <section class="contact-info bleed grid squeeze col-3 gap-1 ac-start">
        <div class="grid squeeze ai-start ji-start ac-start">
          <a href="//twitter.com/oakstudioco">Twitter</a>
          <a href="//facebook.com/oakstudioco">Facebook</a>
          <a href="//instagram.com/oakstudioco">Instagram</a>
        </div>
        {# <div class="grid squeeze ai-start ji-start ac-start">
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </div>
        <div></div>
        <div></div> #}
      </section>
    </main>

    <span class="fake-footer left subtext">
      {{ footer }}
    </span>

    <footer class="flex">
      <div class="right subtext">
        &copy; 2021 {{ site.title }}
      </div>
    </footer>

    <div class="hidden">
      {% include "svg/scribble.svg" %}
    </div>

    <!-- Current page: {{ url | url }} -->
  </body>

</html>
