---
layout: layouts/post.njk
---

{% import "macros.njk" as macros %}

{{ macros.spinner("The Oak Studio Blog") }}

<div class="bleed top-text">
  <h1 class="alignment-optical splitting">{{ title | splitting | safe }}</h1>
  <div class="subtext">
    <em class="splitting" style="--char-delay: 1s"><time datetime="{{ date | date }}">{{ date | date('HUMAN_DATE') | splitting | safe }}</time>
    </em>
    <div>{% include "templates/tagsList.njk" %}</div>
  </div>
</div>

<hr>

{{- content | safe -}}
