---
layout: layouts/base.njk
---

<header class="bleed">
  <div class="hero grid col-2 ai-stretch gap-4 squeeze">
    <div data-rellax-speed="-2" class="grid ac-end ai-end gap-1 rellax">
      {% if hero_left %}
        {{ hero_left | njk | safe }}
      {% else %}
        <h1 class="hero__heading splitting">{{ title | splitting | safe }}</h1>
        <div data-animate="from-left" class="hero__subheading">
        {{ description | md | safe }}
        </div>
      {% endif %}
    </div>
    <div class="hero__feature">
      {% if hero_right %}
        {{ hero_right | njk | safe }}
      {% else %}
        <img data-rellax-speed="2" class="hero__feature--image rellax" src="/img/{{ image }}" alt="" />
      {% endif %}
    </div>
  </div>
</header>

<br id="btf" />

{{- content | njk | md | safe -}}
