---
layout: layouts/base.njk
---

<header class="bleed">
  <div class="hero grid col-2 ai-stretch gap-4 squeeze">
    <div class="grid ac-end ai-end gap-1">
      {% if hero_left %}
        {{ hero_left | njk | safe }}
      {% else %}
        <h1 class="hero__heading top-text splitting">{{ title | splitting | safe }}</h1>
        <div data-animate="from-left" class="hero__subheading top-text">
        {{ description | md | safe }}
        </div>
      {% endif %}
    </div>
    <div class="hero__feature">
      {% if hero_right %}
        {{ hero_right | njk | safe }}
      {% else %}
        <img no-resize class="hero__feature--image" src="{{ image }}" alt="" />
      {% endif %}
    </div>
  </div>
</header>

<br id="btf" />

{{- content | njk | md | safe -}}
