---
layout: layouts/base.njk
---

<header class="post__header bleed" style="margin-bottom: 0;">
  <div class="post__header--image">
    <img class="rellax center bleed" data-rellax-speed="-4" alt="" src="{{ image | url }}" no-resize />
  </div>
</header>

<article class="bleed">
  {{- content | safe -}}
</article>

<section class="post__nav flex bleed gap-2">

  {%- set previousItem = search.previousPage(url, "type=" + type, sort_by) %}
  {%- if previousItem -%}
  <a data-animate="from-left" style="text-decoration: none;" href="{{ previousItem.data.url | url }}" class="left pad-1">
    <div class="subtext">Previous</div>
    <h3>{{ previousItem.data.title }}</h3>
  </a>
  {%- endif -%}

  {%- set nextItem = search.nextPage(url, "type=" + type, sort_by) %}
  {%- if nextItem -%}
  <a data-animate="from-right" style="text-decoration: none;" href="{{ nextItem.data.url | url }}" class="right pad-1">
    <div class="subtext">Next</div>
    <h3>{{ nextItem.data.title }}</h3>
  </a>
  {%- endif -%}

</section>