---
layout: layouts/post.njk
---

{% import "macros.njk" as macros %}

{{ macros.spinner("Design Case Study") }}

<div class="bleed top-text">
  <h1 class="alignment-optical splitting">{{ title | splitting | safe }}</h1>
  <div class="subtext">
    <h3 class="splitting" style="--char-delay: 1s">{{ entity | splitting | safe }}
    </h3>
    <div>{% include "templates/tagsList.njk" %}</div>
  </div>
</div>

<hr>

{{ description | md | safe }}

{% if logo %}
<section class="bleed grid col-2 squeeze">
  <div style="background: white; padding: 15%">
    <img src="{{ logo }}" alt="Logo of {{ title }} on white" />
  </div>
  <div class="pad-4" style="background: white;  padding: 15%; filter: invert(1)">
    <img aria-hidden="true" src="{{ logo }}" alt="Logo of {{ title }} on black" />
  </div>
</section>
{% endif %}

{% if colors %}
<section class="grid gap-1 col-4 squeeze" style="padding-top: 0">
  {% for color in colors %}
    {{ macros.swatch(color.name, color.hex, color.pantone) }}
  {% endfor %}
</section>
{% endif %}

{{- content | safe -}}