---
layout: layouts/post.njk
---

{% import "macros.njk" as macros %}

{{ macros.spinner("Design Case Study") }}

<div class="bleed top-text">
  <h1 class="alignment-optical splitting">{{ title | splitting | safe }}</h1>
  <div class="subtext">
    <em class="splitting" style="--char-delay: 1s">{{ entity | splitting | safe }}
    </em>
    <div>{% include "templates/tagsList.njk" %}</div>
  </div>
</div>

<hr>

{{ description | md | safe }}

{% if colors %}
<section class="grid gap-1 col-4 squeeze">
  {% for color in colors %}
    {{ macros.swatch(color.name, color.hex, color.pantone) }}
  {% endfor %}
</section>
{% endif %}

{{- content | safe -}}