---
layout: layouts/base.njk
---

<article class="project">
  <header>
    <h1 class="project__title">{{ title }}</h1>

    <div class="project__description">
      {{ description | md | safe }}
    </div>

    <div class="flex" style="margin-top: var(--flow3)">
    {% for tag in tags %}
      {% for tagPage in search.pages("type=tag") %}
        {% if tagPage.data.tag == tag %}
        <a href="{{ tagPage.data.url  }}" class="tag">{{ tag }}</a>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </div>
  </header>
</article>

<hr>

<section class="grid col-4 gap-2">

  {%- set previousProject = search.previousPage(url, "type=project", "date") %}
  {%- if previousProject %}
  <a data-animate="from-left" class="projectsList__item" href="{{ previousProject.data.url | url }}" rel="previous">
    {# Image srcs will get processed (see _config.js) #}
    <img class="projectsList__item--image" src="{{ previousProject.data.image }}" alt="" />
    <div class="projectsList__item--text squeeze grid gap-1">
      <div class="subtext">← Previous</div>
      <h3>{{ previousProject.data.title }}</h3>
    </div>
  </a>
  {% else %}
  <div></div>
  {% endif %}

  {%- set nextProject = search.nextPage(url, "type=project", "date") %}
  {%- if nextProject %}
  <a data-animate="from-right" class="projectsList__item" href="{{ nextProject.data.url | url }}" rel="next">
    {# Image srcs will get processed (see _config.js) #}
    <img class="projectsList__item--image" src="{{ nextProject.data.image }}" alt="" />
    <div class="projectsList__item--text squeeze grid gap-1">
      <div class="subtext">Next →</div>
      <h3>{{ nextProject.data.title }}</h3>
    </div>
  </a>
  {% else %}
  <div></div>
  {% endif %}

</section>