---
layout: layouts/base.njk
---

<section class="bleed special grid col-3 gap-3">
  <div>
    <div class="right">
      <div class="subtext">Projects tagged</div>
      <h1>{{ tag }}</h1>
      <p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
      <hr>
    </div>
  </div>
  {% set projects = search.pages("type=project '" + tag + "'") %}  
  {% include "templates/projectsList.njk" %}
</section>
