.carousel-wrapper {
  width: 100%;
  overflow-x: hidden;
}

.carousel {
  display: flex;
  gap: 0;
  height: 100%;
  transition: $smoothTransition;

  .selected {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }

  &__item {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    transform: translate3d(0, 0, 0) scale(0.8);
    transition: $smoothTransition;
    pointer-events: none;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.coarse-dot-navigation {
  display: flex;
  gap: $flow1;
  justify-content: center;
  position: absolute;
  bottom: $flow2;
  left: 50%;
  transform: translateX(-50%);

  button {
    margin: 0;
    margin-left: 0.5em;
    width: 1em;
    height: 1em;
    padding: 0;
    border-radius: 50%;
    opacity: 0.37;
    transform: scale(0.63);
    background: var(--g0);
    transition: $colorTransition;

    &:first-child {
      margin-left: 0;
    }

    &.selected {
      opacity: 1;
    }
  }
}

@media screen and (max-width: $mobile) {
  .carousel-wrapper {
    height: 24rem !important;
  }
}
