.hero {
  min-height: 100vh;

  &__heading,
  &__subheading {
    z-index: 3;
    width: 100%;
    max-width: 80vmin;
    padding: $flow3 10vmin;
  }

  &__heading {
    padding-top: $flow6;
    padding-bottom: 0;
  }

  &__feature {
    overflow: hidden;
    height: 100vh;
  }
}

@media screen and (max-width: $mobile) {
  .hero {
    height: auto;
    padding-top: $flow6;
    margin-bottom: $flow4;
    gap: $flow1;
    grid-gap: $flow1;

    &__feature {
      height: 24rem;
    }

    &__heading,
    &__subheading {
      margin-bottom: 0;
      padding: 0 0 0 $flow2;
    }
  }
}
