@keyframes slide-in {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transform: translateY(1.2em) rotate(0.01turn);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
