@import "./intersections";
@import "./keyframes";
@import "./splitting";
@import "./transitions";

.spinner {
  --size: calc(20vmin + 5rem);
  --scale: 0.4rem;
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0;
  width: var(--size);
  text-shadow: 1px 1px var(--g8), 1px -1px var(--g8), -1px -1px var(--g8), -1px 1px var(--g8);
  height: var(--size);
  letter-spacing: calc(var(--scale) - 0.0014rem * var(--char-count));
  font-size: calc(1.15rem - var(--scale) * 0.1 * var(--char-count));
  pointer-events: none;
  font-weight: $fontWeightHeavy;
  animation: spin 1000s linear infinite paused;
  animation-delay: calc(-0.5s * var(--user-scroll));

  circle {
    fill: transparent;
  }

  text {
    fill: var(--g0);
  }
}

.post .spinner {
  top: calc(var(--size) * -0.7);
}
