@import "./intersections";
@import "./keyframes";
@import "./splitting";
@import "./transitions";

.spinner {
  --size: calc(20vmin + 5rem);
  position: absolute;
  z-index: 9;
  right: 0;
  top: calc(var(--size) * -1);
  width: var(--size);
  height: var(--size);
  letter-spacing: 0.8em;
  font-size: 0.5rem;
  animation: spin 1000s linear infinite paused;
  animation-delay: calc(-0.4s * var(--user-scroll));

  circle {
    fill: transparent;
  }

  text {
    fill: var(--g0);
  }
}
