.splitting {
  --char-delay: 0s;

  &[style*="break-word"] .word {
    flex-flow: row wrap;
  }

  .word {
    display: inline-flex;
  }

  &.lines .word {
    animation: slide-in $smoothTransition both;
    animation-delay: calc(var(--char-delay) + var(--line-index) * 50ms);
  }

  .char {
    display: inline-block;
    clip-path: polygon(-40% -15%, 140% -15%, 140% 120%, -40% 120%);
    animation: slide-in $smoothTransition both;
    animation-delay: calc(var(--char-delay) + var(--char-index) * 20ms);
  }

  &.lines > * {
    animation: slide-in $smoothTransition both;
    animation-delay: calc(0.5s + var(--line-index) * 30ms);
  }
}

h1.splitting .char {
  animation: slide-in $motionTransition both;
  animation-delay: calc(0.5s + var(--char-index) * 50ms);
}
