---
config_file: /admin/config.yml
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
  <!-- Include layout CSS overrides for mobile devices -->
  <link rel="stylesheet" href="/cms.css" />
</head>

<body>
  <link href="{{ config_file | url }}" type="text/yaml" rel="cms-config-url">
  <!-- Include the script that builds the page and powers Netlify CMS -->
  <script src="//unpkg.com/netlify-cms@^2.10.139/dist/netlify-cms.js"></script>
  <!-- Include Netlify Identity for authentication -->
  <script src="//identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <!-- Add Netlify Status Badge -->
  <script>
    var netlifyStatusBadge = document.createElement('img');
    netlifyStatusBadge.src = "https://api.netlify.com/api/v1/badges/{{site.netlify_site_id}}/deploy-status";
    netlifyStatusBadge.alt = "Netlify Status";
    netlifyStatusBadge.id = "netlify_status_badge";
    document.body.appendChild(netlifyStatusBadge);
  </script>
</body>

</html>
