.beforeafter {
  --val: 50;
  --pos: calc(var(--val) * 1%);
  overflow: hidden;
  height: 75vmin;
  user-select: none;
  cursor: pointer;
  border-radius: $borderRadius;

  img {
    object-position: center;
    object-fit: cover;
    height: calc(100% + 1px);
  }

  &__before,
  &__after {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }

  &__after {
    clip-path: polygon(var(--pos) 0, 100% 0, 100% 100%, var(--pos) 100%);
  }

  &__slider {
    position: absolute;
    left: var(--pos);
    height: 100%;
    width: 0;
    border-left: $borderWidth solid $g8;
    border-right: $borderWidth solid $g8;
    transform: translate3d(-50%, 0, 0);

    &::before,
    &::after {
      --x: -50%;
      --r: 0deg;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      border: 3px solid $g8;
      border-top: none;
      border-right: none;
      border-radius: 2px;
      width: 1em;
      height: 1em;
      filter: drop-shadow(var(--shadow));
      opacity: 0;
      transform: translate(var(--x), -50%) rotate(var(--r));
      transition: opacity $colorTransition, transform $motionTransition;
    }

    &::before {
      --x: -150%;
      --r: 45deg;
    }

    &::after {
      --x: 50%;
      --r: -135deg;
    }
  }

  &:hover .beforeafter__slider {
    &::before {
      opacity: 1;
      --x: -100%;
      --r: 45deg;
    }

    &::after {
      opacity: 1;
      --x: 0;
      --r: -135deg;
    }
  }
}
