.blurb {
  --image-size: 5rem;
  text-align: center;
  padding: $flow2;
  border: $borderWidth $borderStyle var(--g6);
  max-width: 32rem;
  border-radius: $borderRadius;

  * {
    margin: 0;
  }

  &__image {
    margin: calc(var(--image-size) * -0.5 - #{$flow2}) auto $flow2 auto;
    background: var(--g6);
    height: var(--image-size);
    width: var(--image-size);
    border-radius: 50%;

    svg {
      filter: drop-shadow(var(--shadow));
    }

    svg path {
      fill: $g8;
    }
  }

  &__desc {
    margin: $flow1 / 2 0;
  }
}

@media screen and (max-width: $mobile) {
  .blurb {
    grid-template-columns: 1fr;
  }
}
