.blurb {
  --image-size: 7rem;
  display: inline-block;
  text-align: center;
  padding: $flow2;
  max-width: 32rem;
  margin: 0 auto;
  margin-top: calc(var(--image-size) / 3);
  border: $borderWidth $borderStyle var(--g6);
  border-radius: $borderRadius;
  background: inherit;

  & > * {
    margin: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    margin-top: $flow1;
  }

  &__image {
    margin: calc(var(--image-size) * -0.5 - #{$flow2}) auto $flow2 auto;
    height: var(--image-size);
    width: var(--image-size);
    background: inherit;
    transition: $colorTransition;

    &::before {
      content: "";
      position: absolute;
      border-radius: inherit;
      background: inherit;
      width: calc(100% + #{$borderWidth * 2});
      height: calc(100% + #{$borderWidth * 2});
      top: -$borderWidth;
      left: -$borderWidth;
    }

    svg path {
      fill: var(--g0);
    }
  }

  &__desc {
    margin: $flow1 / 2 0;
  }
}

.person {
  margin: 0 auto;
  padding: 0 $flow4;
  max-width: $mobile;

  &__headshot {
    flex-shrink: 0;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    overflow: hidden;
  }

  &__info {
    padding: $flow2;
  }
}

.review {
  padding: $flow2;

  &__text {
    font-family: $altFont;
    font-style: italic;
  }

  .quote {
    color: var(--g8);
    font-size: 4em;
    line-height: 0;
    margin: 0;
  }
}

@media screen and (max-width: $mobile) {
  .person {
    padding: 0 $flow1;

    &__info {
      padding: 0;
      padding-top: $flow2;
    }
  }
}
