.blurb {
  --image-size: 5rem;
  display: inline-block;
  text-align: center;
  padding: $flow2;
  border: $borderWidth $borderStyle var(--g6);
  max-width: 32rem;
  margin: 0 auto;
  border-radius: $borderRadius;
  transition: $smoothTransition;

  &:hover,
  &:focus-within {
    background: var(--g7);
    border-color: var(--primary);

    .blurb__image {
      border-color: transparent;
      background: var(--primary);
    }
  }

  * {
    margin: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    margin-top: $flow1;
  }

  &__image {
    margin: calc(var(--image-size) * -0.5 - #{$flow2}) auto $flow2 auto;
    background: var(--g6);
    height: var(--image-size);
    width: var(--image-size);
    border-radius: 50%;
    border: inherit;
    border-color: var(--g8);
    transition: $colorTransition;

    svg {
      filter: drop-shadow(var(--shadow));
    }

    svg path {
      fill: $g8;
    }
  }

  &__desc {
    margin: $flow1 / 2 0;
  }
}
