button,
a.button,
input[type="submit"] {
  --initial-color: var(--g0);
  --hover-color: var(--primary);
  display: inline;
  cursor: pointer;
  font-family: $textFont;
  font-weight: $fontWeightHeavy;
  color: var(--g8);
  padding: 0.8em 1em;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: $flow2;
  border: none;
  border-radius: $borderRadius;
  transition: background-position $smoothTransition, color $smoothTransition;
  background-image: linear-gradient(72deg, var(--initial-color) 50%, var(--hover-color) 50%, var(--hover-color));
  background-size: 250%;
  background-position-x: left;
  background-repeat: no-repeat;

  &.center {
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  &:hover,
  &:focus {
    color: var(--g0);
    background-position-x: 99%;
  }
}

@media screen and (max-width: $mobile) {
  button,
  a.button,
  input[type="submit"] {
    &.center {
      width: 100%;
      display: block;
    }
  }
}
