.hero {
  &__heading,
  &__subheading {
    z-index: 3;
    width: 80vmin;
    min-width: 18rem;
    max-width: $mobile;
    padding: $flow3 15vmin;
  }

  &__heading {
    padding-top: $flow6;
    padding-bottom: 0;
  }
}

@media screen and (max-width: $mobile) {
  .hero {
    padding-top: $flow4;

    &__heading,
    &__subheading {
      padding-left: $flow2;
      padding-right: 0;
    }
  }
}
