body {
  display: grid;
  gap: 0;
  grid-template-columns: 8em 1fr;
  place-items: start;
  place-content: start;
  justify-items: stretch;
  background: var(--g8);
}

main {
  grid-column-end: -1;
  padding-bottom: $flow4;

  :first-child {
    margin-top: 0;
  }

  * + * {
    margin-bottom: $flow2;
  }
}

article {
  padding: $flow4;
  padding-top: $flow6;
  max-width: $mobile;

  &.parallax {
    transform: translateY(calc(var(--offset) * -0.5px));
  }
}

.hero {
  display: flex;
  align-items: center;
  height: auto;
  min-height: 63vh;
  padding: 5%;
  padding-bottom: $flow4;
  background: $g0;

  &__heading,
  &__subheading {
    z-index: 3;
    width: 80vmin;
    min-width: 18rem;
    max-width: $mobile;
  }

  &__heading {
    mix-blend-mode: lighten;
  }

  &__subheading {
    z-index: 10;
    position: absolute;
    top: calc(100% - #{$flow4});
    right: 0;
    text-align: center;
    font-family: $altFont;
    font-style: italic;
    border-radius: $borderRadius 0 0 $borderRadius;
    box-shadow: var(--shadow);
    padding: $flow3;
    line-height: 1.1;
    font-size: 1.5em;
    background-color: var(--g0);
    color: var(--g8);
  }

  &__image {
    position: absolute;
    overflow: hidden;
    border-radius: 0 0 0 $borderRadius;
    top: 0;
    left: 0;
    height: 100%;

    img {
      height: 100%;
    }
  }
}

nav [role="menu"],
footer {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

footer {
  z-index: 11;
  position: fixed;
  display: flex;
  text-align: right;
  bottom: 0;
  right: 0;
  padding: $flow1;
}

@media screen and (max-width: $mobile) {
  body {
    font-size: 14px;
    grid-template-columns: 1fr;
    place-items: start;
    place-content: start;
  }

  footer {
    position: relative;
  }

  main {
    padding: $flow4 0;

    article {
      box-shadow: none;
      padding: $flow2 $flow2;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .hero {
    display: flex;
    flex-flow: row wrap;
    gap: 0;
    justify-content: center;
    min-height: 28em;
    padding: $flow4 $flow2 0 $flow2;

    &__subheading {
      margin: $flow3 0 0 0;
      border-radius: $borderRadius;
      position: relative;
      left: auto;
      right: auto;
      top: auto;

      [data-parallax] {
        overflow: visible;
      }
    }

    &__image {
      border-radius: 0 0 $borderRadius $borderRadius;
    }
  }

  header {
    margin: 0;
  }
}
