body {
  background: var(--g8);
}

header {
  margin-bottom: $flow2;
}

main {
  grid-column-end: -1;
  padding: $flow2 0;

  & > :first-child:not(section) {
    margin-top: $flow4;
  }

  p > img,
  p > video {
    margin: $flow4 0;
  }

  & > *:not(.bleed) {
    max-width: $mobile;
    margin-left: auto;
    margin-right: auto;
  }

  * + * {
    margin-bottom: $flow2;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

article {
  padding-top: $flow6;
}

section {
  margin: 0;
  padding: $flow6 0;
  background: var(--g8);

  &.bleed {
    padding-left: $flow2;
    padding-right: $flow2;
  }

  &.primary {
    background: var(--primary);
    color: var(--g0);

    svg path {
      fill: var(--g6);
    }
  }

  &.soft {
    background: var(--g7);
  }

  &.primary,
  &.soft {
    margin-top: $flow6;

    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
      margin-top: $flow6;
    }
  }

  & + .primary,
  & + .soft,
  & + h2,
  & + h3,
  & + h4,
  & + h5,
  & + h6 {
    margin-top: $flow2;
  }
}

footer {
  z-index: 11;
  position: fixed;
  display: flex;
  text-align: right;
  bottom: 0;
  right: 0;
  padding: $flow2;
}

@media screen and (max-width: $mobile) {
  body {
    font-size: 14px;
    grid-template-columns: 1fr;
    place-items: start;
    place-content: start;
  }

  nav,
  footer {
    padding: $flow1;
  }

  footer {
    position: relative;
  }

  main {
    padding: 0 0 $flow6 0;

    & > *:not(.bleed) {
      max-width: $mobile;
      margin-left: $flow1;
      margin-right: $flow1;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  section {
    padding: $flow4 0;

    &.bleed {
      padding-left: $flow1;
      padding-right: $flow1;
    }
  }

  header {
    margin: 0;
  }
}
