body {
  display: grid;
  gap: 0;
  grid-template-columns: calc(7em + #{$flow2}) 1fr;
  place-items: start;
  place-content: start;
  justify-items: stretch;
  background: var(--g8);
}

main {
  grid-column-end: -1;
  padding-bottom: $flow4;

  :first-child {
    margin-top: 0;
  }

  * + * {
    margin-bottom: $flow2;
  }
}

article {
  box-shadow: var(--shadow);
  padding: $flow4;
  border-radius: $borderRadius;
  max-width: $mobile;
  margin: 0 auto;
  margin-top: -$flow6;
  background: var(--g8);
  z-index: 10;

  &.parallax {
    transform: translateY(calc(var(--offset) * -0.5px));
  }
}

.hero {
  padding: 5%;
  padding-bottom: $flow4;
  display: grid;
  align-items: center;
  height: auto;
  min-height: 75vh;
  overflow: hidden;
  background: $g0;
  border-radius: 0 0 0 $borderRadius;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $g0;
    opacity: 0.37;
  }

  &__text {
    z-index: 3;
    width: 50%;
    min-width: 18rem;
    max-width: $mobile;
    mix-blend-mode: lighten;

    &--subheading {
      color: $g8;
      line-height: 1.1;
      font-size: 150%;
    }
  }

  &__image {
    object-fit: cover;
    height: 100%;
    filter: grayscale(1) contrast(10);
    position: absolute;
    top: 0;
    left: 0;
  }
}

nav [role="menu"],
footer {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

footer {
  z-index: 11;
  position: fixed;
  display: flex;
  text-align: right;
  bottom: 0;
  right: 0;
  padding: $flow1;
}

@media screen and (max-width: $mobile) {
  body {
    font-size: 14px;
    grid-template-columns: 1fr;
    place-items: start;
    place-content: start;
  }

  footer {
    position: relative;
  }

  main {
    padding: 0;
    padding-top: 5rem;

    article {
      box-shadow: none;
      padding: $flow4 $flow2;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .hero {
    min-height: 28em;
    align-items: end;
    padding-top: 5rem;
    padding-bottom: $flow6;
  }

  header {
    margin: 0;
  }
}
