nav {
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100%;
  padding: $flow2;

  #logo {
    display: flex;
    width: 5em;
    z-index: 9;

    svg path {
      transition: $colorTransition;
    }

    &:hover,
    &:focus {
      svg path {
        fill: var(--primary);
      }
    }
  }

  [role="menu"] {
    margin-left: auto;
    gap: $flow1;

    a {
      display: inline;
      padding-left: 0.2em;
      transform: translateX(-0.2em);
      text-decoration: none;
      color: var(--g0);

      &:hover,
      &:focus {
        box-shadow: inset 0 #{-$borderWidth} 0 0 var(--secondary);
      }

      &[aria-current] {
        font-weight: $fontWeightHeavy;
        box-shadow: inset 0 #{-$borderWidth} 0 0 var(--secondary);
      }
    }
  }
}
