nav {
  position: absolute;
  top: 0;
  width: 100%;
  padding: $flow2;
  z-index: 99;
  background: linear-gradient(var(--g8), transparent);
  background-size: 100% 12em;
  background-position: bottom;

  #logo {
    display: flex;
    width: 5em;
    z-index: 9;

    svg path {
      transition: $colorTransition;
    }

    &:hover,
    &:focus {
      svg path {
        fill: var(--primary);
      }
    }
  }

  [role="menu"] {
    display: flex;
    margin-left: auto;

    a {
      margin-left: $flow1;
      display: inline-block;
      padding-left: 0.2em;
      transform: translateX(-0.2em);
      text-decoration: none;
      color: var(--g0);

      &:hover,
      &:focus {
        box-shadow: inset 0 #{-$borderWidth} 0 0 var(--secondary);
      }

      &[aria-current] {
        font-weight: $fontWeightHeavy;
        box-shadow: inset 0 #{-$borderWidth} 0 0 var(--secondary);
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  nav {
    padding: $flow1;
    background: none;

    #logo {
      width: 4.5em;
    }
  }
}
