html {
  main::after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: fixed;
    pointer-events: none;
    background: var(--g7);
    transition: opacity $colorTransition;
  }

  .hero__image,
  article {
    transition: transform $colorTransition;
  }

  &[data-schwifty] {
    transition-duration: 0.3s;

    main::after {
      opacity: 1;
    }

    .hero__image {
      transform: translate3d(0, 0, 0) scale(0.98);
    }

    article {
      transform: translate3d(0, 0.4rem, 0);
    }
  }

  &[data-schwifty="out"] {
    .hero__image {
      transform: translate3d(0, 0, 0) scale(1.02);
    }
  }

  &[data-schwifty="in"] {
    article {
      transition-delay: 0.2s;
    }
  }
}
