body {
  font-size: 17px;
  font-family: $textFont;
  font-feature-settings: off;
  font-variant-ligatures: normal;
  color: var(--g3);
  font-weight: $fontWeightRegular;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--g0);
  line-height: 1.2;
  font-weight: 500;
  font-weight: $fontWeightHeavy;
  letter-spacing: -0.02em;
  margin-bottom: 0.63em;

  &:last-child {
    margin-bottom: 0;
  }
}

p,
blockquote,
ul,
ol,
h1,
h2,
h3,
h4,
h5 {
  & + h2,
  & + h3,
  & + h4,
  & + h5,
  & + h6 {
    margin-top: 2em;
  }
}

h1,
h2,
h3 {
  font-family: $altFont;
  font-style: italic;
}

h1 {
  text-transform: lowercase;
  font-size: calc(13vmin + 8px);
  line-height: 0.9;
  letter-spacing: -0.05em;
  margin-bottom: 0.2em;
  margin-left: -0.07em;

  @supports (mix-blend-mode: difference) {
    color: $g0;
    text-shadow: text-outline($g8);
    mix-blend-mode: difference;

    em {
      color: $g8;
    }
  }

  em {
    font-style: normal;
    font-family: $textFont;
    letter-spacing: -0.07em;
    text-shadow: none;
  }
}

h2 {
  line-height: 1;
  font-size: calc(4vmin + 18px);
}

h3 {
  font-size: calc(2.4vmin + 15px);
}

h4 {
  font-size: calc(1.5vmin + 12px);
}

a {
  color: var(--g2);
  text-underline-offset: $borderWidth * 2;
  text-decoration-thickness: $borderWidth / 2;
  text-decoration-color: var(--primary);

  &[href="undefined"] {
    display: none;
  }

  &:hover,
  &:focus {
    color: var(--g0);
    text-decoration-thickness: $borderWidth;
  }
}

p {
  margin: $flow1 0;
}

blockquote {
  font-size: 1.2rem;
  font-family: $altFont;
  font-style: italic;
  border-radius: 0 $borderRadius $borderRadius 0;
  border-left: $borderWidth * 2 $borderStyle var(--primary);
  background: var(--g7);
  padding: $flow2;

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

em {
  font-family: $altFont;
  font-style: italic;
}

strong {
  color: var(--secondary);
  font-weight: $fontWeightHeavy;
}

del {
  color: var(--g5);
}

ul,
ol {
  padding-left: $flow2;
}

li + li {
  margin-top: $flow1;
  margin-bottom: 0;
}

hr {
  height: $borderWidth;
  border: none;
  display: block;
  margin-bottom: $flow4;
  margin-top: $flow4;
  background: var(--g5);
}

::selection {
  background: var(--primary);
  color: var(--g8);
}
