.hidden {
  display: none;
}

.squeeze > * {
  margin: 0;
}

[style*="background-image"] {
  background-position: center;
}

.round {
  border-radius: 50%;
}

.right {
  margin-left: auto;
  margin-right: 0;
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.pad-1 {
  padding: $flow1;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.col-2 {
  grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
}

.col-3 {
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
}

.col-4 {
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}

.gap-1 {
  gap: $flow1;
}

.gap-2 {
  gap: $flow2;
}

.gap-3 {
  gap: $flow3;
}

.gap-4 {
  gap: $flow4;
}

.ai-start {
  align-items: start;
}

.ai-center {
  align-items: center;
}

.ai-baseline {
  align-items: baseline;
}

.ai-end {
  align-items: end;
}

.ai-stretch {
  align-items: stretch;
}

.ac-start {
  align-content: start;
}

.ac-center {
  align-content: center;
}

.ac-end {
  align-content: end;
}

.jc-start {
  justify-content: start;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: end;
}

.ai-space-around {
  align-items: space-around;
}

.ai-space-between {
  align-items: space-between;
}

.ji-center {
  justify-items: center;
}

.ji-space-around {
  justify-items: space-around;
}

.ji-space-between {
  justify-items: space-between;
}

[data-parallax] {
  --offset: 0;
  --perspective: 0;
  transform: translate3d(0, calc(var(--offset) * var(--perspective) * 1px), 0);
}

@for $i from 1 to 10 {
  [data-parallax="#{$i}"] {
    --perspective: #{$i * 0.1};
  }
}

@media screen and (max-width: $mobile) {
  .col-2,
  .col-3 {
    grid-template-columns: 1fr;
  }

  .flex {
    flex-flow: row wrap;
  }
}
