.hidden {
  display: none;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.col-2 {
  grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
}

.gap-4 {
  grid-gap: $flow4;
  gap: $flow4;
}

.gap-3 {
  grid-gap: $flow3;
  gap: $flow3;
}

.gap-2 {
  grid-gap: $flow2;
  gap: $flow2;
}

.gap-1 {
  grid-gap: $flow1;
  gap: $flow1;
}

.ai-center {
  align-items: center;
}

ai-end {
  align-items: end;
}

.ac-center {
  align-content: center;
}

ac-end {
  align-content: end;
}

.jc-center {
  justify-content: center;
}

.ji-space-around {
  justify-items: space-around;
}

.ji-space-between {
  justify-items: space-between;
}

[data-parallax] {
  --offset: 0;
  --perspective: 0;
  transform: translate3d(0, calc(var(--offset) * var(--perspective) * 1px), 0);
}

@for $i from 1 to 10 {
  [data-parallax="#{$i}"] {
    --perspective: #{$i * 0.1};
  }
}

@media screen and (max-width: $mobile) {
  .flex {
    flex-flow: row wrap;
  }

  .col-2,
  .col-3 {
    grid-template-columns: 1fr;
  }
}
