$g0: black;
$g1: #121518;
$g2: #1a1f24;
$g3: #363c47;
$g4: #667483;
$g5: #97a2b6;
$g6: #c5cacf;
$g7: #eaebee;
$g8: white;
$primary: #fe3b1f;
$yellow: #ffcd00;
$green: #3bd4ae;
$pink: #ff40b4;
$flow1: 1rem;
$flow2: 1.63rem;
$flow3: 3rem;
$flow4: 4rem;
$flow6: 6rem;
$fontWeightRegular: 400;
$fontWeightMedium: 550;
$fontWeightHeavy: 720;
$borderWidth: 1px;
$borderStyle: solid;
$borderRadius: 0;
$motionTransition: 0.45s cubic-bezier(0.3, 0.5, 0.1, 1.2);
$colorTransition: 0.28s cubic-bezier(0.3, 0.3, 0.1, 1);
$smoothTransition: 0.63s cubic-bezier(0.4, 0.3, 0.1, 1);
$mobile: 54em;
$fallback: showFallback 5s forwards;

@font-face {
  font-family: "Space Grotesk";
  src: url("/_assets/fonts/SpaceGrotesk.woff2") format("woff2-variations");
  font-feature-settings: "ss02" 1, "ss03" 1, "ss04" 1, "case" 1, "zero" 1;
  font-weight: 300 700;
  font-display: block;
}

@font-face {
  font-family: "Metropolis";
  src: url("/_assets/fonts/Metropolis-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: block;
}

$fallbackFonts: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Nueue", "Roboto", sans-serif;
$displayFont: "Metropolis", $fallbackFonts;
$textFont: "Space Grotesk", $fallbackFonts;
