$g0: black;
$g1: #080a11;
$g2: #151920;
$g3: #272d38;
$g4: #45505c;
$g5: #8590a3;
$g6: #cacdd3;
$g7: #e7e9ee;
$g8: white;
$primary: #fe3b1f;
$secondary: #00c7c7;
$tertiary: #225dff;
$flow1: 1rem;
$flow2: 1.63rem;
$flow3: 3rem;
$flow4: 5rem;
$flow6: 8rem;
$fontWeightRegular: 400;
$fontWeightHeavy: 700;
$borderWidth: 2px;
$borderStyle: solid;
$borderRadius: 0.4rem;
$motionTransition: 0.45s cubic-bezier(0.3, 0.5, 0.1, 1.2);
$colorTransition: 0.28s cubic-bezier(0.3, 0.3, 0.1, 1);
$smoothTransition: 0.63s cubic-bezier(0.4, 0.3, 0.1, 1);
$mobile: 54rem;
$fallback: showFallback 5s forwards;

@function text-outline($color, $thickness: 1px) {
  @return $thickness $thickness $color, -$thickness -#{$thickness} $color, $thickness #{-$thickness} $color,
    -$thickness $thickness $color;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/_assets/fonts/SpaceGrotesk.woff2") format("woff2-variations");
  font-feature-settings: "ss02" 1, "ss03" 1, "ss04" 1, "case" 1, "zero" 1;
  font-weight: 300 700;
  font-display: block;
}

@font-face {
  font-family: "Indie Flower";
  src: url("/_assets/fonts/Indie-Flower.woff2") format("woff2"), url("/_assets/fonts/Indie-Flower.ttf") format("ttf");
  font-weight: bold;
  font-style: italic;
  font-display: block;
}

$fallbackFonts: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Nueue", "Roboto", sans-serif;
$textFont: "Space Grotesk", $fallbackFonts;
$altFont: "Indie Flower", "Times", $fallbackFonts;
