@import "./vars";

:root {
  --g0: #{$g0};
  --g1: #{$g1};
  --g2: #{$g2};
  --g3: #{$g3};
  --g4: #{$g4};
  --g5: #{$g5};
  --g6: #{$g6};
  --g7: #{$g7};
  --g8: #{$g8};
  --primary: #{$primary};
  --secondary: #{$secondary};
  --tertiary: #{$tertiary};
  --shadowColor: #0003;
  --shadow: 0 0.2rem 0.2rem var(--shadowColor);
}

@media (prefers-color-scheme: dark) {
  :root {
    --g0: #{$g8};
    --g1: #{$g7};
    --g2: #{$g6};
    --g3: #{$g5};
    --g4: #{$g4};
    --g5: #{$g3};
    --g6: #{$g2};
    --g7: #{$g1};
    --g8: #{$g0};
    --fontWeightRegular: 300;
    --shadowColor: #0009;
  }

  html body {
    color: var(--g2);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  position: relative;
  scrollbar-width: thin;
  scrollbar-width: none;
  scrollbar-color: var(--g6) transparent;
}

::-webkit-scrollbar {
  display: none;
  background: transparent;

  &-thumb {
    background: var(--g6);
  }
}

*:focus {
  outline: $borderWidth $borderStyle var(--g2);
  outline-offset: $borderWidth;
}

svg,
img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

@import "./layout";
@import "./typography";
@import "./buttons";
@import "./util";
@import "./forms";
@import "./blurbs";
@import "./person";
@import "./hero";
@import "./coarse";
@import "./nav";
