@import "./vars";

:root {
  --g0: #{$g0};
  --g1: #{$g1};
  --g2: #{$g2};
  --g3: #{$g3};
  --g4: #{$g4};
  --g5: #{$g5};
  --g6: #{$g6};
  --g7: #{$g7};
  --g8: #{$g8};
  --primary: #{$primary};
  --yellow: #{$yellow};
  --green: #{$green};
  --pink: #{$pink};
  --fontWeightRegular: #{$fontWeightRegular};
  --fontWeightMedium: #{$fontWeightMedium};
  --fontWeightHeavy: #{$fontWeightHeavy};
  --shadowColor: rgba(0, 0, 0, 0.3);
  --shadow: 0 0.1rem 0.63rem -0.1rem var(--shadowColor);
  --largeShadow: 0.3rem 2rem 3rem -0.6rem var(--shadowColor);
  --blockShadow: 0.4rem 0.4rem 0 var(--g6), 0.8rem 0.8rem 0 var(--g7);
  --animationSize: 24rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  position: relative;
  scrollbar-width: thin;
  scrollbar-color: var(--g6) transparent;
}

*:focus {
  outline: $borderWidth $borderStyle var(--g6);
  outline-offset: $borderWidth;
}

::-webkit-scrollbar {
  background: transparent;

  &-thumb {
    background: var(--g6);
  }
}

body {
  background: $g0;
}

svg,
img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

#logo {
  max-width: 8em;
}

::selection {
  background: var(--primary);
  color: var(--g8);
}

header,
footer {
  padding: $flow2;
}

main {
  padding: $flow4 0;
  max-width: calc(1080px + 12vmin);

  & > * {
    margin-left: $flow2;
    margin-right: $flow2;
  }

  img {
    margin-left: 0;
    margin-right: 0;
  }
}

@import "./typography";
