{%- for post in posts -%}
<div data-animate="from-bottom">
  <!---->
  <a style="height: 100%;" class="soft-grid" href="{{ post.data.url | url }}" {% if entry.data.url == url %} aria-current="page"{% endif %}>
    <!---->
    <div class="soft-grid__image">
      <img class="pos-abs" src="{{ post.data.image | url }}" alt="">
    </div>
    <!---->
    <div>
      <div class="soft-grid__title">{{ post.data.title }}</div>
      <div class="subtext">
      {%- for tagPage in search.pages("type=tag") %}
        {%- for tag in post.data.tags -%}
          {%- if tagPage.data.tag == tag -%}
          {{ ", " if loop.index > 1 }}{{ tag }}
          {%- endif -%}
        {% endfor %}
      {%- endfor -%}
      </div>
    </div>
    <!---->
  </a>
  <!---->
</div>
{%- endfor -%}
