{% for review in reviewsList %}
<div class="review grid col-4">
  <div class="review__image animate">
    <img src="{{ review.data.photo }}" alt="{{ review.data.client }}">
  </div>
  <div class="review__text left">
    <div class="review__text--quote animate">&ldquo;</div>
    <p class="review__text--review large animate">
      <strong>{{ review.data.review }}</strong>
    </p>
    <div class="review__text--client subtext animate">{{ review.data.client }}</div>
  </div>
</div>
{% endfor %}