{%- for tagPage in search.pages("type=tag") -%}
  {%- for tag in tags -%}
    {%- if tagPage.data.tag == tag -%}
    {{ " \\ " if loop.index > 1 | safe }}<a href="{{ tagPage.data.url }}" class="tag">{{ tag }}</a>
    {%- endif -%}
  {% endfor -%}
{%- endfor -%}