---
layout: layouts/hero.njk
title: About Us
image: /img/us.jpg
menu:
  visible: true
  order: 2
description: >-
  They will be called oaks of righteousness, a planting of the Lord, that He may be glorified.

  
  *Isaiah 61:3b*
---

{# Macro imports #}
{% from "macros.njk" import blurb, person %}

{# Icons #}
{% set scrapbook %}{% include "svg/scrapbook.svg" %}{% endset %}
{% set telescope %}{% include "svg/telescope.svg" %}{% endset %}
{% set leaf %}{% include "svg/starting-over.svg" %}{% endset %}
{% set corner %}{% include "svg/turning-a-corner.svg" %}{% endset %}
{% set rebrand %}{% include "copy/rebrand.md" %}{% endset %}
{% set identity %}{% include "copy/identity.md" %}{% endset %}
{% set bradenBio %}{% include "copy/braden_east_bio.md" %}{% endset %}

## Oak Studio is a small creative agency based in Bartlesville, Oklahoma.

We see our work as a way to **create permanence** in a time when it seems like nothing sticks around. We think family-minded businesses are the best way to pass on trades, strengthen communities, and preserve legacies. Most importantly, we think like our clients: the ambitious self-starters, the future &ldquo;moms and pops&rdquo;, the resourceful ones.

{% include "copy/background.md" %}

{% include "copy/vision.md" %}

### How we operate

{% include "copy/mo.md" %}

<section class="soft bleed pattern-bg">
{{ person(
  "braden.jpg",
  "Braden East",
  "Founder",
  bradenBio
) }}
</section>

<section class="center grid ji-space-around ai-start jc-center gap-4 col-3" style="margin-bottom: 0">
  <h2 class="center span-all">Our Services</h2>
  {{- blurb(leaf, identity) -}}
  {{- blurb(corner, rebrand) -}}
  <p class="center span-all">
    If you see something you like, schedule a call.
    <br><br>
    <a class="button primary" href="/contact">Let's talk about you</a>
  </p>
</section>