---
layout: layouts/hero.njk
title: The Oak Studio Blog
image: /img/pattern.svg
menu:
  visible: true
  order: 3
  title: Blog
sort_by: date
---

<div class="bleed squeeze grid col-3 gap-1 pad-1">
  {% set posts = search.pages("type=post", sort_by) %}
  {%- include "templates/postsList.njk" -%}
</div>