---
layout: layouts/hero.njk
title: The Oak Studio Blog
description: Here's where we hope you can get to know us better. Our readers are provoked to thought, encouraged to try something new, and even \*gasp\* amused every once in a while.
image: /img/joel-muniz-XqXJJhK-c08-unsplash.jpg
menu:
  visible: true
  order: 3
  title: Blog
sort_by: date
---

<div class="bleed squeeze grid col-3 gap-1 pad-1">
  {% set posts = search.pages("type=post", sort_by + "=desc") %}
  {%- include "templates/postsList.njk" -%}
</div>