---
title: Contact
layout: layouts/base.njk
menu:
  visible: true
  cta: true
  order: 4
---

<section class="bleed pad-1">
  <a style="text-decoration:none" href="mailto:{{ site.email }}">
    <h1 style="word-wrap:break-word;" class="splitting">{{ site.email | splitting | safe }}</h1>
  </a>
  <div class="subtext splitting" style="padding:0" style="--char-delay: 1s; margin-top: 1rem">
    {{ "We don't spam or automate." | splitting | safe }}
  </div>
</section>

<section class="right" data-animate="from-right">
  <p>
    Not sure about hitting send?
  </p>
  <p>
    We'll be honest: we might not be able to help. That said, we have experience solving real-world problems for businesses like yours. Our backgrounds incline us to <strong>listen first, then diagnose</strong>.
  </p>
</section>
