---
layout: layouts/hero.njk
title: Home
hero_left: >-
  <h1 style="opacity: calc(720 / var(--user-scroll) - 1)" class="hero__heading top-text">
    {% set speeds = [ 0, -1, -2, -3, -4, -5 ] %}
    {% set words = ["Build", "something", "permanent."] %}
    {% for word in words %}
    <div style="z-index:9; display:inline-flex;">
      {% for char in word | list %}
      <div class="char rellax" style="--char-index:{{loop.index}}" data-rellax-speed="{{ speeds | random }}">{{ char }}</div>
      {% endfor %}
    </div>
    {% endfor %}
  </h1>
  <div data-animate="from-left" class="hero__subheading top-text">
    <p>We've helped dozens of family-owned (and family-minded) businesses establish brands that endure.</p>
    <a href="/projects" class="button primary">See Examples</a>
  </div>
hero_right: >-
  {% set carouselItems = [
    "judes-coffee-cup.jpg",
    "my-raggedy-herbs-business_cards.jpg",
    "harmony-health-clothing.jpg",
    "elderberry-wine-company-menu.jpg",
    "east-texas-elderberries-sack.jpg",
    "360-farms-tea-boxes.jpg"
  ] %}
  <div class="carousel">
    {% for image in carouselItems %}
      <img no-resize class="carousel__item {{ 'selected' if loop.index == 1 }}" src="/img/{{ image }}" alt="">
    {% endfor %}
  </div>
---

{# Macro imports #}
{% from "macros.njk" import blurb, review, before_after %}

{# SVG #}
{% set leaf %}{% include "svg/starting-over.svg" %}{% endset %}
{% set telescope %}{% include "svg/telescope.svg" %}{% endset %}
{% set corner %}{% include "svg/turning-a-corner.svg" %}{% endset %}
{% set circle %}{% include "svg/circle.svg" %}{% endset %}
{# Copy #}
{% set rebrand %}{% include "copy/rebrand.md" %}{% endset %}
{% set vision %}{% include "copy/vision.md" %}{% endset %}
{% set identity %}{% include "copy/identity.md" %}{% endset %}

## We're a branding agency that sees design as a means of permanence.

[More about us](/about)

<section class="center grid ji-space-around ai-start jc-center gap-4 col-3" style="margin-bottom: 0">
  {{ blurb(leaf, identity) }}
  {{ blurb(corner, rebrand) }}
</section>

<section class="primary squeeze bleed center grid ai-center jc-center ac-center col-3 gap-2">
{{ review(
  "William Fecteau",
  "Essential BodywoRX",
  "I would absolutely reccommend!"
) }}
{{ review(
  "Ed Wells",
  "East Texas Elderberries",
  "We had a wonderful experience with the team. The outstanding quality and the attention to detail was beyond compare. I highly recommend their services.",
  circle
) }}
{{ review(
  "James Snyder",
  "Bandits RPG Gaming",
  "They did a great job interpreting our feedback and coming up with some great designs."
) }}
</section>

<section class="center bleed grid col-2 gap-4 ai-center">
  {{ blurb(telescope, vision) }}
  {{ before_after(
    "east-texas-elderberries-sketch.jpg",
    "east-texas-elderberries-white-on-black.png",
    "Logo design for [East Texas Elderberries](/projects/east-texas-elderberries)"
  ) }}
</section>

## A few more things:
{% include "copy/mo.md" %}

<section class="center">
  <p>You probably have some questions by now.</p>
  <a class="button primary" href="/contact">We Can Answer Them</a>
</section>