---
layout: layouts/hero.njk
title: Home
hero_left: >-
  <h1 class="hero__heading top-text">
    {% set speeds = [ 0, -1, -2, -3, -4, -5 ] %}
    {% set words = ["Grow", "something"] %}
    {% for word in words %}
    <div style="z-index:9; display:inline-flex; opacity:calc(1 - (var(--user-scroll) / 600))">
      {% for char in word | list %}
      <div class="char rellax" style="--char-index:{{loop.index}}" data-rellax-speed="{{ speeds | random }}">{{ char }}</div>
      {% endfor %}
    </div>
    {% endfor %}
    permanent.
  </h1>
  <div data-animate="from-left" class="hero__subheading top-text">
    <p>Oak Studio partners with family-minded businesses to create <em><strong>enduring brands</strong></em>.</p>
  </div>
hero_right: >-
  {% set carouselItems = [
    "judes-coffee-cup.jpg",
    "my-raggedy-herbs-business_cards.jpg",
    "harmony-health-clothing.jpg",
    "elderberry-wine-company-menu.jpg",
    "east-texas-elderberries-family.jpg",
    "360-farms-tea-boxes.jpg"
  ] %}
  <div class="carousel">
    {% for image in carouselItems %}
      <img no-resize class="carousel__item {{ 'selected' if loop.index == 1 }}" src="/img/{{ image }}" alt="">
    {% endfor %}
  </div>
---

{# Macro imports #}
{% from "macros.njk" import blurb, review, before_after, spinner %}

{# SVG #}
{% set leaf %}{% include "svg/starting-over.svg" %}{% endset %}
{% set telescope %}{% include "svg/telescope.svg" %}{% endset %}
{% set corner %}{% include "svg/turning-a-corner.svg" %}{% endset %}
{% set circle %}{% include "svg/circle.svg" %}{% endset %}
{# Copy #}
{% set rebrand %}{% include "copy/rebrand.md" %}{% endset %}
{% set vision %}{% include "copy/vision.md" %}{% endset %}
{% set identity %}{% include "copy/identity.md" %}{% endset %}

## We're a branding and design agency that sees our work as a means of permanence.

[More about us](/about)

<section class="center grid ji-space-around ai-start jc-center gap-4 col-3" style="margin-bottom: 0">
  {{ blurb(leaf, identity) }}
  {{ blurb(corner, rebrand) }}
</section>

<section class="primary squeeze bleed center grid ai-center jc-center ac-center col-3 gap-2">
{{ review(
  "I would absolutely reccommend!",
  "William Fecteau",
  "Essential BodywoRX"
) }}
{{ review(
  "We had a wonderful experience with the team. The outstanding quality and the attention to detail was beyond compare. I highly recommend their services.",
  "Ed Wells",
  "East Texas Elderberries",
  circle
) }}
{{ review(
  "They did a great job interpreting our feedback and coming up with some great designs.",
  "James Snyder",
  "Bandits RPG Gaming"
) }}
</section>

<section class="center bleed grid col-2 gap-4 ai-center">
  {{ blurb(telescope, vision) }}
  {{ before_after(
    "east-texas-elderberries-sketch.jpg",
    "east-texas-elderberries-white-on-black.png",
    "Logo design for [East Texas Elderberries](/projects/east-texas-elderberries)"
  ) }}
</section>

## A few more things:
{% include "copy/mo.md" %}

<section class="center">
  <p>You probably have some questions by now.</p>
  <a class="button" href="/contact">We Can Answer Them</a>
</section>

<br>

{% include "copy/fit.md" %}

<section class="center">

## &ldquo;Show me the money&rdquo;
We thought you might want to see some examples of our work. [Click here for those](/projects). It's also possible you'd like to know what our other clients think. Keep scrolling to hear from a few.

{{ review(
  "They are very creative, responsive, and do professional work. I would definitely work with them again.",
  "Mike Wietecha",
  "Loud Paintings Project"
) }}

{{ review(
  "Working with them has been awesome, and they've consistently given me quality design work. Highly recommended!",
  "Alex Moya",
  "Indpendent Author"
) }}

{{ review(
  "They were able to understand my needs and created a wonderful logo for my online project that I am proud to show off. Thanks again!",
  "Jenn Marie",
  "High & Successful, Inc."
) }}

</section>

## Hold up.

We want our projects to be highly personalized. If you want to work with an agency at arms length, we might not be a good fit.

We want to empower businesses that will keep the ball rolling, pay it forward, and put down roots. If that doesn't sound like you, we'll politely pass.

We'd like to make something that will last for generations, not follow trends. If you want something with an expiration date, then [don't contact us here](/contact).

<p class="subtext">P.S. It's just a link to our email address, which you can also find down below. &darr;</p>

{{- spinner("The Oak Studio Blog") -}}

<section class="bleed grid col-3 gap-1">
  <div>
    <h2>Get to know us through our writing:</h2>
    <p>The Oak Studio Blog is a place where we're candid and real, working out our ideas and aspirations on paper. Be prepared to be provoked.</p>
    <a class="subtext" href="/blog">See All Posts &rarr;</a>
  </div>
  {% set posts = search.pages("type=post", "date=desc", 3) %}
  {%- include "templates/postsList.njk" -%}
</section>