/* Colors */
$g0: #121518;
$g1: #1a1f24;
$g2: #383e46;
$g3: #5a6677;
$g4: #828b9c;
$g5: #9faabd;
$g6: #c5cacf;
$g7: #eaebee;
$g8: white;
$accent1: $g5;
$accent2: #97b2c4;
$contrasting-color: $accent2;

/* Effects */
$transition: 0.6s cubic-bezier(.4, .7, .1, 1);
$transition-long: 1s cubic-bezier(.4, .7, .1, 1);
$transition-extra-long: 2.4s cubic-bezier(.6, 0, 0, 1);
$shadow: 0 0 0.63em -0.12em rgba(0, 0, 50, 0.2);
$border-width: 1px;
$border: $border-width solid var(--g3);

/* Clip Paths */
$angle: 72deg;
$clipSquare: polygon(-5% -5%, 105% -5%, 105% 105%, -5% 105%);
$clipOffsetTop: polygon(0 0, 100% 0, 100% 0, 0 0);
$clipOffsetRight: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
$clipOffsetBottom: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
$clipOffsetLeft: polygon(0 0, 0 0, 0 100%, 0 100%);

/* Dimensions */
$mobile: 75rem;
$paragraph-width: 37rem;
$nav-height-desktop: 4rem;
$nav-height-mobile: 2.6rem;

/* Fonts */
$font-family-body: "Piazzolla", serif;
$font-family-display: "Piazzolla", serif;
$font-family-alt: "Space Grotesk", sans-serif;

$font-size-large-desktop: 80px;
$font-size-regular-desktop: 18px;
$font-size-small-desktop: 11px;
$font-size-large-mobile: calc(1.7rem + 4vw);
$font-size-regular-mobile: 18px;
$font-size-small-mobile: 11px;

@font-face {
  font-family: "Piazzolla";
  src: url("/Piazzolla[opsz,wght].woff2") format("woff2-variations");
  font-display: block;
}

@font-face {
  font-family: "Piazzolla";
  src: url("/Piazzolla-Italic[opsz,wght].woff2") format("woff2-variations");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/SpaceGrotesk[wght].woff2") format("woff2-variations");
  font-display: block;
}

/* Custom Property Declarations */
:root {
  --font-size-small: $font-size-small-desktop;
  --font-size-regular: $font-size-regular-desktop;
  --nav-height: $nav-height-desktop;
  --g0: $g0;
  --g1: $g1;
  --g2: $g2;
  --g3: $g3;
  --g4: $g4;
  --g5: $g5;
  --g6: $g6;
  --g7: $g7;
  --g8: $g8;
  --accent1: $accent1;
  --accent2: $accent2;
  font-size: var(--font-size-regular);
}

@media (prefers-color-scheme:dark) {
  :root {
    --g0: $g8;
    --g1: $g7;
    --g2: $g6;
    --g3: $g5;
    --g4: $g4;
    --g5: $g3;
    --g6: $g2;
    --g7: $g1;
    --g8: $g0;
  }
}