/* Colors */
$g0: #121518;
$g1: #1d2125;
$g2: #36393e;
$g3: #736e63;
$g4: #8b919c;
$g5: #bcb7aa;
$g6: #cfccc5;
$g7: #eeedea;
$g8: rgb(255, 245, 230);
$accent1: $g5;
$accent2: #4aa7a0;
$contrasting-color: $accent2;

/* Effects */
$transition: 0.6s cubic-bezier(.4, .7, .1, 1);
$transition-long: 1s cubic-bezier(.4, .7, .1, 1);
$transition-extra-long: 2.4s cubic-bezier(.6, 0, 0, 1);
$shadow: 0 0 0.63em -0.12em rgba(0, 0, 50, 0.2);
$border-width: 1px;
$border: $border-width solid var(--g3);

/* Clip Paths */
$angle: 72deg;
$clipSquare: polygon(-5% -5%, 105% -5%, 105% 105%, -5% 105%);
$clipOffsetTop: polygon(0 0, 100% 0, 100% 0, 0 0);
$clipOffsetRight: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
$clipOffsetBottom: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
$clipOffsetLeft: polygon(0 0, 0 0, 0 100%, 0 100%);

/* Dimensions */
$mobile: 75rem;
$paragraph-width: 37rem;
$nav-height-desktop: 4rem;
$nav-height-mobile: 2.6rem;

/* Fonts */
$font-family-body: "Clash Grotesk Variable", sans-serif;
$font-family-display: "Boska", sans-serif;
$font-family-alt: "Pencerio Hairline", sans-serif;

$font-size-large-desktop: 96px;
$font-size-regular-desktop: 19px;
$font-size-small-desktop: 12px;
$font-size-large-mobile: calc(1.7rem + 4vw);
$font-size-regular-mobile: 18px;
$font-size-small-mobile: 11px;

@font-face {
  font-family: "Piazzolla";
  src: url("/Piazzolla[opsz,wght].woff2") format("woff2-variations");
  font-display: block;
}

@font-face {
  font-family: "Piazzolla";
  src: url("/Piazzolla-Italic[opsz,wght].woff2") format("woff2-variations");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/SpaceGrotesk[wght].woff2") format("woff2-variations");
  font-display: block;
}

/* Custom Property Declarations */
:root {
  --font-size-small: #{$font-size-small-desktop};
  --font-size-regular: #{$font-size-regular-desktop};
  --font-size-large: #{$font-size-large-desktop};
  --nav-height: #{$nav-height-desktop};
  --g0: #{$g0};
  --g1: #{$g1};
  --g2: #{$g2};
  --g3: #{$g3};
  --g4: #{$g4};
  --g5: #{$g5};
  --g6: #{$g6};
  --g7: #{$g7};
  --g8: #{$g8};
  --accent1: #{$accent1};
  --accent2: #{$accent2};
  font-size: var(--font-size-regular);
}

@media (prefers-color-scheme:dark) {
  :root {
    --g0: #{$g8};
    --g1: #{$g7};
    --g2: #{$g6};
    --g3: #{$g5};
    --g4: #{$g4};
    --g5: #{$g3};
    --g6: #{$g2};
    --g7: #{$g1};
    --g8: #{$g0};
  }
}