.big-project {
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;

  & a::after {
    display: none;
  }

  & a {
    line-height: 1;
  }
}

.project__images {
  margin-top: 0;
  overflow: hidden;

  & .project__images--container {
    display: flex;
    flex-flow: column nowrap;
  }

  & img {
    margin: 0;
    height: 80vh;
  }
}

.project__info {
  top: 6rem;
  position: sticky;
  align-self: start;
  padding: 4rem;
  margin-top: 30vh;
}

.project__info--row {
  display: grid;
  grid-template-columns: 1fr 3fr;
  place-items: start;
  gap: 2rem;
  max-width: calc($paragraph-width + 8rem);

  &>* {
    margin-top: 0;
  }

  &:last-of-type {
    margin-top: 4rem;
    align-items: center;

    & hr {
      order: -1
    }
  }

  & a::after {
    all: unset;
    content: "↗";
    font-size: 1.2em;
    transform: translateY(2px);
    margin-left: 0.2em;
  }
}

@media screen and (max-width: $mobile) {
  .big-project {
    display: block;

    & .swatches.vertical {
      position: sticky;
      top: var(--nav-height);
      width: 100%;
      height: 1rem;
      flex-direction: row;
    }

    & a {
      flex-shrink: 0;
    }
  }

  .project__info {
    position: relative;
    margin-top: 0;
    padding: 4rem 1rem;
    height: auto;

    & .label {
      margin-bottom: 0;
    }
  }

  .project__info--row {
    max-width: $paragraph-width;
    margin: 2rem auto 0 auto;
    gap: 1rem;
    grid-template-columns: 1fr;

    &:last-of-type {
      margin-top: 8rem;
      max-width: none;
      display: flex;
    }
  }

  .project__images {
    margin-top: 1rem;

    & img {
      height: auto;
      width: 100%;
    }
  }
}