.big-project  {
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;

  & .title {
    margin-top: -.09em;
  }

  & a {
    line-height: 1;
  }
}

.project__image {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 0;

  & img {
    margin: 0;
    height: 80vh;
  }
}

.project__info {
  top: 0;
  position: sticky;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  padding-top: 30vh;
  height: 100vh;
}

.project__info--row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  place-items: start;
  gap: 2rem;
  max-width: calc($paragraph-width + 8rem);

  & > * {
    margin-top: 0;
  }

  &:last-of-type {
    align-items: center;
    margin-top: auto;

    & hr {
      order: -1
    }
  }

  & a::after {
    all: unset;
    content: "↗";
    font-size: 1.2em;
    transform: translateY(-.1em);
    margin-left: 0.2em;
  }
}

@media screen and (max-width: $mobile) {
  .big-project {
    grid-template-columns: 1fr;

    & .swatches.vertical {
      position: sticky;
      top: var(--nav-height);
      width: 100%;
      height: 1rem;
      flex-direction: row;
    }
  }

  .project__info {
    position: relative;
    padding: 2rem;
    height: auto;

    & hr {
      margin-top: 4rem;
    }

    & .label {
      margin-bottom: 0;
    }
  }

  .project__info--row {
    grid-template-columns: 1fr;
    margin-top: 4rem;
  }

  .project__image img {
    height: auto;
    width: 100%;
  }
}