section {
  padding: 4rem;
  padding-top: 30vh;
  min-height: 80vh;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  padding: 2rem;
}

@media screen and (max-width: $mobile) {
  section {
    padding-top: 24rem;
    min-height: 60rem;
  }

  footer {
    grid-template-columns: 1fr;
  }
}