nav,
footer {
  padding: 1rem 2rem;
}

nav {
  position: fixed;
  z-index: 99;
  top: 0;
  display: flex;
  width: 100%;
  height: var(--nav-height);

  & a::after {
    display: none;
  }
}

#logo svg,
#logo {
  height: 100%;
  width: auto;
  display: block;
}

section {
  padding: 4rem;
  padding-top: 30vh;
  min-height: 80vh;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;

  & > * {
    margin: 0;
  }
}

@media screen and (max-width: $mobile) {
  nav,
  footer {
    padding: .5rem 1rem;
  }

  nav {
    background: var(--accent1);
    box-shadow: $shadow;
  }

  #logo {
    color: var(--contrastingColor);
  }

  section {
    padding: 13rem 1rem;
    min-height: 0;
  }
}