body {
  transition: background $transition;
}

.post__image {
  margin: 0;
  display: flex;
  max-height: 100vh;

  & img {
    max-height: 100vh;
  }
}

.post__main {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;

  & h2,
  & .callout {
    margin-top: 30vmin;
  }
}

.post__main--content {

  & img {
    float: left;
    max-width: 8rem;
    margin: 0 1rem 1rem 0;
  }

  & .has-media {
    clear: both;
  }

  & > * {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: $paragraph-width;
  }
}

.post__main--images {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 0;

  & img {
    width: 100%;
    height: auto;
    margin-top: 0;
  }
}

.post__nav {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
  overflow-x: hidden;
  padding: 30vmin 0 0 2rem;

  & a img {
    max-height: 30rem;
    filter: grayscale(1) contrast(.9);
    transition: $transition;
  }

  & a {
    display: flex;
    flex-direction: column;
    margin-top: 0;

    &::after {
      display: none;
    }
    
    &:last-child {
      grid-column: 2;
    }

    & img {
      height: 100%;
      filter: grayscale(1) contrast(.8);
      transition: $transition;
    }

    &:hover img,
    &:focus img {
      filter: none;
    }
  }

  & * {
    text-decoration: none;
  }
}

.callout {
  border-left: $border;
  border-left-color: var(--accent2);
  color: var(--contrastingColor);
  font-style: italic;
  padding: 2rem;
  padding-top: 1.8rem;
  max-width: calc($paragraph-width + 4rem);
  font-size: 2rem;

  & > * {
    margin-left: auto;
    margin-right: auto;
    max-width: $paragraph-width;
  }
}

@media screen and (max-width: $mobile) {
  .post__image,
  .post__image img {
    display: block;
    width: 100%;
    height: auto;
    max-height: none;
  }

  .post__main {
    grid-template-columns: 1fr;
  }

  .post__main h2,
  .post__main .callout {
    margin-top: 28vmin;
  }

  .post__main--content {
    padding-bottom: 28vmin;

    & img {
      float: none;
      margin: 0;
    }

    & .has-media {
      margin-top: 4rem;
    }
  }

  .post__nav {
    margin-top: 4rem;
    padding: 0;
    grid-template-columns: 1fr;

    & a:first-child {
      padding-right: 2rem;

      & > * {
        padding-left: 2rem;
      }

      & img {
        height: 10rem;
        padding-left: 0;
      }
    }

    & a:last-child {
      padding-left: 2rem;
      grid-column: auto;
      order: -1;

      & > * {
        padding-right: 1rem;
      }
      
      & img {
        min-height: 20rem;
        padding-right: 0;
      }
    }
  }

  .callout {
    font-size: 1.5rem;
    padding: 1.8rem 0 2rem 0;
    margin-left: auto;
    margin-right: auto;

    & > * {
      max-width: $paragraph-width;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}