*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  border: none;
  outline: none;
  background-color: none;
  box-shadow: none;
  scrollbar-width: thin;
}

*:focus {
  outline: $border-width solid var(--g6);
  outline-offset: $border-width;
}

* + * {
  margin-top: 1rem;
}

::-webkit-scrollbar {
  width: 10px;
}

html {
  background: var(--g8);
  color: var(--g0);
  transition: background $transition;
}

body,
head {
  margin-top: 0;
  overflow-x: hidden;
}

img {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: $mobile) {
  :root {
    --font-size-small: $font-size-small-mobile;
    --font-size-regular: $font-size-regular-mobile;
    --nav-height: $nav-height-mobile;
  }
}