

body {
  font-family: $font-family-serif;
}

.title,
h1 {
  font-family: $font-family-serif-display;
  font-size: $font-size-large-desktop;
  margin-left: -.02em;
  letter-spacing: -.05em;
  line-height: .96;

  & em {
    display: inline-block;
    font-family: $font-family-sans;
    font-size: .7em;
    font-weight: 900;
    letter-spacing: -.04em;
    text-transform: uppercase;
    font-style: normal;
  }
}

.label,
h2 {
  font-family: $font-family-sans;
  font-size: var(--font-size-small);
  text-transform: uppercase;
  opacity: .5;
  padding-top: 0.5em;
  line-height: 1;
  letter-spacing: .04em;
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 3rem;
}

strong {
  font-weight: 600;
}

::selection {
  background: $g1;
  color: $g8;
}

a::after,
hr {
  --color: $g3;
  width: 100%;
  height: $border-width;
  background-image: linear-gradient(to right, var(--color) 50%, transparent 0%);
  background-size: 200%;
  background-position-x: 200%;
  transition: $transition;
}

a {
  text-decoration: none;
  display: inline-flex;
}

a::after {
  --color: var(--accent2);
  content: "";
  display: block;
  position: absolute;
  top: calc(100% + .01em);
}

a:hover::after,
a:focus::after,
a:hover + hr,
a:focus + hr {
  background-position-x: 0;
}

@media screen and (max-width: $mobile) {
  h1,
  .title {
    font-size: $font-size-large-mobile;
  }
}